<div class="bgimg">
        <app-header></app-header>
</div>

<div class="container">
    <div class="dashboardmain">
            
        <div class="dashboard">
                
            <p>
                <img height="50px" width="50px" src="assets/images/broom.jpg" alt=""> Housework is like cleaning fish. No matter how often you do it, it still stinks.

                <img height="50px" width="50px"
                    src="assets/images/broom.jpg" alt="">
            </p>
 
        </div>

        <div class="dashboardtwo">
            <div align="center" class="drop">
                <mat-form-field class="dropone" appearance="outline">
                    <mat-select [(ngModel)]="categoryName">
                        <mat-option *ngFor="let item of myData" [(value)]="item" (click)="masterCategoryChanged(item)">{{item.categoryName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div align="center" class="drop1">
                <mat-form-field class="dropone" appearance="outline">
                    <mat-select [(ngModel)]="subcategoryName">
                        <mat-option [(value)]="item" *ngFor="let item of subData" (click)="selectCategory()">{{item.subcategoryName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button class="buttonn" (click)="bookService()" >
                    <mat-icon>book</mat-icon> Booking</button>
                   
            </div>

        </div>
    </div>

</div>