 app-svg-icon {
    svg {
      display: inline-block;      width: 6px;
      height: 6px;
    }
  }
  
  .card{
  margin-top: 8%;
  left: 20%;
  right: auto ;
  text-align: center ;
  color: #f15858;
transform: translate(-5%, 0) ;

  float: left;
}

.drop {
  width: 100%;
  text-align: center;
  padding-top: 10%; 
}
.dropone{
  width: 80%;
}
.buttonn {
  margin-left: 3%;
  width: 60%;
     height: 50px;
 background-color: rgb(169, 221, 169)
}
.container {
height: 100%;
}
.dashboardmain{
width: 100%; 
margin-top: 6%;
height: 100%;
}
.dashboardtwo{
width: 30%;
//background-color: rgb(238, 238, 228);
background-color:#faf6f6;
float: left;
text-align: center;
margin-top: 5%;
height: 60%;
}
.dashboard {
width: 58%; 	
text-align: center;
padding-top: 8%;
float: left;
color: #16374b;
font-size: 50px;  
}
.para{
font-size: 30px;
}
.bgimg {
background-image: url('src/assets/img/a.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
height: auto;
//opacity: 0.6;
left: 0;
margin: 0;
min-height: 100%;
min-width: 674px;
padding: 0;
position: fixed;
top: 0;
width: 100%;
z-index: -1;
}
.app-dashboard {
width: 30%;
text-align: center;
}

// ****************** this is media query strated here***********************


@media (max-width: 800px) {
    .dropone {
    width: 90% !important;
    }
  }





@media (max-width:800px) {
   .drop { 
    padding-top: 25%;
   }
  }


@media (max-width: 800px) {
     .dashboardone {
      display: none;
     }
    }


@media (max-width: 800px) {
   .dashboard {
    display: none;
   }
  }


@media (max-width: 800px) {
    .dashboardmain {
      margin-top: 18%;
     height: 95%;
    }
  }


@media (max-width: 800px) {
   .dashboardtwo {
     width: 85%;
     height: 400px;
     margin-top: 8%;
      margin-left: 7%;    
    text-align: center;
   }
  }



@media (max-width: 800px) {
   .buttonn {    
     width: 60%;
    text-align: center;
   } 
}

@media (max-width: 800px) {
     .container { 
       flex-flow: row wrap;
       box-sizing: border-box;
       display: flex;
       place-content: center flex-start;
       align-items: center; 
       color: black;
       height: 400px;
     }
    }









