<div class="card">
  <form (ngSubmit)="doAction(detail)" class="card" #detail="ngForm">
    <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon>
    <h1 class="user" mat-dialog-title>{{action}} </h1>
    <div mat-dialog-content>
      <mat-form-field class="Name" *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Name" class="form-control" #subcategoryName="ngModel" name="subcategoryName"
          matInput [(ngModel)]="local_data.subcategoryName" (blur)="onBlurMethod()" (keydown)=onKeydownEvent($event)
          required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf='IsError' style="font-size: 78%;margin-top: -3%;margin-left: 16%;">
        {{Message}}
      </mat-error>

      <div>
        <mat-form-field class="Name" *ngIf="action != 'Delete'">
          <mat-label>--Select--</mat-label>
          <mat-select [(ngModel)]="local_data.masterCategoryId" name="masterCategoryId" class="form-control"
            #masterCategoryId="ngModel" required>
            <!-- <mat-option>Select Category</mat-option> -->
            <mat-option *ngFor="let mcategoryList of masterCategoryArray" [value]="mcategoryList.masterCategoryId">
              {{ mcategoryList.categoryName }}</mat-option>
          </mat-select>
          <mat-error *ngIf="emailFormControl.hasError('required')">
             required
          </mat-error>
        </mat-form-field>
      </div>

      <ng-template #elseTemplate>
        <div style="margin-top:10%;margin-left:10%;color: brown">
          Are you sure to delete <b>{{local_data.subcategoryName}}</b>?
        </div>
      </ng-template>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" class="Save" color="primary">{{action}}</button>
      <button mat-raised-button type="button" (click)="closeDialog()" class="Close" mat-flat-button color="warn">Cancel</button>
    </div>
  </form>
</div>