ul {

    padding-inline-start: 40px;
    padding-inline-end  : 40px;
}

ul li {
    list-style    : none;
    margin        : 0 0 8px 0;
    border-bottom : 1px solid #c9ced1;
    padding-bottom: 8px;
}

.Receipt {
    font-size  : 24px;
    line-height: 1.2;
    font-family: BrownStd, Helvetica, sans-serif;
    font-weight: 700;
    color      : #16374b;
    text-align : center;

}


//payment Class CSS//
.Today {
    background-color   : #3f51b5;
    cursor             : pointer;
    color              : white;
    // margin-left     : 2%;
}

// .selected {
//     cursor     : pointer;
//     margin-left: 0%;
// }

.selected:hover {
    background-color: #3f51b5;
    cursor          : pointer;
    color           : white;

}

.image {
    background-image : url('src/assets/img/a.jpg');
    background-repeat: no-repeat;
    background-size  : 100% 100%;
}

.payment {
    border-left     : 1px solid #c9ced1;
    border-bottom   : 1px solid #c9ced1;
    border-top      : 1px solid #c9ced1;
    border-right    : 1px solid #c9ced1;
    margin-left     : 29%;
    margin-top      : 10%;
    margin-right    : 30%;
    background-color: #f8f8f9;

}


.mc-checkbox-group,
.mc-radio-group {
    margin-top           : -1%;
    margin-left          : 1px;
    position             : relative;
    display              : flex;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-direction       : row;
    -webkit-box-align    : start;
    align-items          : flex-start;
    -webkit-box-pack     : start;
    justify-content      : flex-start;
}

.mc-checkbox-group .mc-checkbox.extra-input:before,
.mc-checkbox-group .mc-radio.extra-input:before,
.mc-radio-group .mc-checkbox.extra-input:before,
.mc-radio-group .mc-radio.extra-input:before {
    content          : '';
    position         : absolute;
    height           : 20px;
    width            : 20px;
    background-color : #3d77ea;
    left             : 50%;
    bottom           : 0;
    -webkit-transform: translate3D(-50%, 50%, 0) rotate(-45deg);
    -ms-transform    : translate3D(-50%, 50%, 0) rotate(-45deg);
    transform        : translate3D(-50%, 50%, 0) rotate(-45deg);
}

body {

    font-weight           : 400;
    text-rendering        : geometricPrecision;
    -webkit-font-smoothing: antialiased;
    position              : relative;
}


.mc-checkbox-group .mc-checkbox:first-child,
.mc-checkbox-group .mc-radio:first-child,
.mc-radio-group .mc-checkbox:first-child,
.mc-radio-group .mc-radio:first-child {

    width : 93px;
    height: 31px;
}

.mc-checkbox-group .mc-checkbox,
.mc-checkbox-group .mc-radio,
.mc-radio-group .mc-checkbox,
.mc-radio-group .mc-radio {
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;

    -webkit-box-align         : center;
    align-items               : center;
    -webkit-justify-content   : space-around;
    justify-content           : space-around;
    font-size                 : 16px;
    line-height               : 1.2;
    font-weight               : 400;
    // margin                 : 0;
    -webkit-box-flex          : 1;
    flex                      : 1;
    border                    : 1px solid #c9ced1;
    text-align                : center;
    height                    : 40px;
    margin-right              : -1px;
    position                  : relative;

}

.mc-checkbox-group .mc-checkbox:after,
.mc-checkbox-group .mc-radio:after,
.mc-radio-group .mc-checkbox:after,
.mc-radio-group .mc-radio:after {
    line-height: 1;
    content    : attr(data-discount);
    font-size  : 14px;
    color      : #9fa4a6;
    position   : absolute;
    width      : 100%;
    left       : 0;
    bottom     : -20px;
}

.Submit {
    margin-left: 30%;
    width      : 39%;
    margin-top : 10px;
}

.Previous {
    position         : fixed;
    top              : 90%;
    -webkit-transform: translateX(-50%);
    -ms-transform    : translateX(-50%);
    transform        : translateX(-50%);
    cursor           : pointer;
    margin-left      : 5%;
    height           : 34px;
    width            : 5%;
}