<div class="bgimg">
  <form [formGroup]="myForm" class="main" (ngSubmit)="onSubmit(detail)" #detail="ngForm">
    <div class="thanks">
      Wel Come To Booking Website <div style="font-size: 22px;margin-top: 2%"> Please Reset Your Password </div>
    </div>

    <div>
      <div>
        <mat-form-field class="Password">
          <input matInput placeholder="New password" [type]="show_button ? 'text' : 'password'"
            [(ngModel)]="Password.password" minlength="6" name="password" maxlength="12" formControlName="password"
            required />
          <i style="margin-left: -16px;cursor: pointer;" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
            (click)="showNewPass()"></i>
          <mat-error *ngIf="myForm.hasError('required')">
            Please Enter Your New Password
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="Password1">
          <input matInput placeholder="Confirm password" [type]="Show_Con_Btn ? 'text' : 'password'" minlength="6"
            maxlength="12" formControlName="confirmPassword" [errorStateMatcher]="matcher" required />
          <i style="margin-left: -16px;cursor: pointer;" [class]="Show_Con_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
            (click)="ShowConPass()"></i>
          <mat-error *ngIf="myForm.hasError('notSame')">
            Passwords Do Not Match
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>

      <button mat-raised-button type="submit" color="primary" class="btn">Submit</button>
    </div>
  </form>
</div>
<!-- routerLink="/dashboard" -->