.thanks {
  font-family: Merriweather, serif;
  font-size  : 52px;
  margin-top : 10%;
  text-align : center;
  font-weight: bold;

}

.Password {
  margin-left: 40%;
  margin-top : 5%;
  width      : 20%;
}

.Password1 {
  margin-left: 40%;
  width      : 20%;
}

.bgimg {
  background-image : url('src/assets/img/a.jpg');
  background-repeat: no-repeat;
  background-size  : 100% 100%;
  min-height       : 100%;
  min-width        : 674px;
  position         : fixed;
  width            : 100%;

}

.btn {
  margin-top : 1%;
  margin-left: 44%;
  width      : 12%;
}