.Main {
    overflow-x: hidden;
    overflow-y: hidden;
    transform: none;
    height: 400px;
    width: 850px;
    // margin-left   : 12%;
    text-align    : center;
    //  margin-top : 10%;
    margin: auto;
  }
  .Heading {
    color      : #245a57;
    font-weight: 500;
    margin-left: 53%;
    font-size  : 21px;
  
  }
  .Design {
    text-align : center;
    font-weight: 500;
    font-size  : 20px;
    
    background-color: #245a57;
  }