<div class="Main">

        <head>
            <meta charset="utf-8">
            <title>Window</title>
            <!-- <link href="../../styles/OpenNew.css" rel="stylesheet"> -->
            <link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" type="image/x-icon" href="favicon.ico">
        </head>

        <body class="ej2-new" style="margin-right: 25px;">

            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQL39J" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <div hidden id="sync-analytics" data-queue="EJ2 - Angular - Demos"></div>
            <div  style="margin-top: 7%;margin-left: 75%;  ">
                <!-- <button mat-raised-button color="warn" mat-dialog-close class="Close">Close</button> -->
                <button mat-raised-button type="submit" style="margin-left: 35%;background-color: #245a57;" (click)="updateemailtamplate()"
                    color="primary" class="Save">Update</button>
                    
                     <!-- <button mat-raised-button type="submit" class="Save" color="primary">update</button> -->
            </div>
            <div id="action-description">
                <mat-form-field style="width: 750px;">
                    <input matInput placeholder="Subject" type="text" name="MailFrom" [(ngModel)]="templatesubject" />
                </mat-form-field>
            </div>
            <div class="control-section">
                <ejs-richtexteditor [(ngModel)]="value" #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true' (actionBegin)='handleFullScreen($event)'
                    (actionComplete)='actionCompleteHandler($event)' [maxLength]='maxLength'>
                    <ng-template #valueTemplate>

                    </ng-template>
                </ejs-richtexteditor>
            </div>

        </body>
</div>