<div class="card">
  <form (ngSubmit)="doAction(detail)" class="card" #detail="ngForm">
    <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon>
    <h1 class="user" mat-dialog-title>{{action}} </h1>
    <div mat-dialog-content style="margin-top: -4%;">
      <!-- Input  -->
      <mat-form-field class="Name" *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.subcategoryName" (blur)="onBlurMethod()"
          (keydown)=onKeydownEvent($event) class="form-control" #subcategoryName="ngModel" name="subcategoryName"
          required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf='IsError' style="font-size: 78%;margin-top: -3%;margin-left: 16%;">
        {{Message}}
      </mat-error>

      <!-- Price  -->
      <mat-form-field class="Name" *ngIf="action != 'Delete'">
        <input placeholder="Price" matInput [(ngModel)]="local_data.price" [ngModelOptions]="{standalone: true}"
          class="form-control" #price="ngModel" (keypress)="numberOnly($event)" name="price" required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Price is required
        </mat-error>
      </mat-form-field>
      <div>

        <!-- DropdownList  -->

        <mat-form-field class="Name" *ngIf="action != 'Delete'">
          <mat-label>--Select--</mat-label>
          <mat-select [(ngModel)]="local_data.categoryId" [ngModelOptions]="{standalone: true}" name="categoryId"
            class="form-control" #categoryId="ngModel" required>
            <!-- <mat-option>{{subcategoryName}}</mat-option> -->
            <mat-option *ngFor="let mcategoryList of masterCategoryArray" [value]="mcategoryList.categoryId">
              {{ mcategoryList.subcategoryName }}</mat-option>
          </mat-select>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            required
          </mat-error>
        </mat-form-field>

        <!-- Image Upload  -->
        <mat-form-field floatPlaceholder="never" class="image" *ngIf="action != 'Delete'">
          <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept="all/*" #fileSelect>
          <input readonly matInput [(ngModel)]="filename" [ngModelOptions]="{standalone: true}" />
          <button *ngIf="this.base64File" (click)="this.base64File = null; this.filename = null" matSuffix
            matTooltip="Remove selected file" [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
            <!-- <span style="font-size: 12px;
           margin-left: -589%;
           color: black;"> {{filename}} </span> -->
            <mat-icon>close</mat-icon>
          </button>
          <button matSuffix mat-icon-button [(ngModel)]="filename" [ngModelOptions]="{standalone: true}" type="button"
            (click)="fileSelect.click();">
            <mat-icon>file_upload</mat-icon>
          </button>
          <!-- <input #file type="file" [(ngModel)]="filename"  multiple (change)="upload(file.files) "> -->

        </mat-form-field>

      </div>




      <ng-template #elseTemplate>
        <div style="margin-top:10%;margin-left:10%;color: brown">
          Are you sure to delete <b>{{local_data.subcategoryName}}</b>?
        </div>
      </ng-template>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" class="Save" color="primary">{{action}}</button>
      <button mat-raised-button type="button" (click)="closeDialog()" class="Close" mat-flat-button
        color="warn">Cancel</button>
    </div>
  </form>
</div>