.card {
    width     : 500px;
    height    : 300px;
    //box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);

}

.Name {
    margin-left: 10%;
}


.Close {
    margin-top : 10%;
    margin-left: -31%;
    width      : 120px;

}

.Save {

    margin-top : 10%;
    width      : 120px;
    margin-left: 36%;
}

.user {

    color      : #3d77ea;
    font-weight: 500;
    text-align : center;
    font-size  : 21px;
}

.closeicon {
    margin-left: 93%;
    margin-top : 2%;
    cursor     : pointer;
}

.image {
    margin-left: 10%;
    width      : 182px;


}