.card-size {
  max-width       : 400px;
  height          : 200px;
  font            : bolder;
  font-size       : 60px;
  background-color: cornflowerblue;
}

.Heading {
  color      : white;
  background-color: #245a57;
  font-weight: 500;
  margin-top: 0%;
  height: 0%;
  // margin-left: 53%;
  font-size  : 21px;
}

.cardone {

  margin-left: 22%;
  margin-top : 8%;

}

.card {
  margin-top      : 1%;
  color           : #11111000;
  background-color: rgb(36, 90, 87);
  float           : left;
  height          : 70PX;
  width           : 200px;
  margin-left     : 2%;
  color           : rgb(255, 255, 255);
  text-align      : center;
  cursor          : pointer;
  padding-bottom  : 5px;
}

.box {
  box-shadow: 5px 5px 10px 0px rgba(16, 21, 92, 0.774);
}

.Count {
  font-weight: 400px;
  font-size  : 18px;
  color      : rgb(255, 255, 255);
  text-align : center;
  padding-top: 6px;

}

.Name {
  border-bottom : 1px solid;
  width         : 165px;
  padding-bottom: 6px;
}
.headerone{
  border-block-end-color: inherit;
  margin-left: -4%;
  height: 70px;
  background-color:black;
  width: 124%;
  margin-top: -2%;
}
.event_header {
  padding: 20px 15px;
  margin-top: -2%;
  margin-left: -2%;
  width:103%;
  
}
.event_header {
  padding:   2px;
  background-color: cadetblue;
}
.b_crumb {
  color: #fff;
}
.b_crumb {
  color: #fff;
}

.b_crumb h3 {
  color: #fff !important;
  margin-bottom: 15px;
  font-size: 38px !important;
  font-weight: bold;
}

.findTitle {
  // margin-left: 5.7%;
  margin-left: 1.7%;

  font-size: 42px;
  line-height: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #40678f;
  // background-color: darkorange;
}
.addtitle {
  margin-left: 5.7%;
  // margin-left: 1.7%;

  font-size: 42px;
  line-height: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #40678f;
// background-color:darkgreen;  

}

.findTitle span {
  letter-spacing: 9.5px;
  font-size: 14px;
  display: block;
  padding-top: 14px;
  font-family: "Maven Pro", sans-serif;
}
.findTitleone{
  margin-left: 5.7%;
  font-size: 42px;
  line-height: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #40678f;
// background-color: blueviolet;  
}
ul.breadcrumb {
  padding: 10px 0px 0px 0px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #fff;
  text-decoration: underline;
}
