<!-- <script>
    function myFunction() {
       var element = document.getElementById("settitle");
       element.classList.add("findTitleone");
    }
    </script> -->
<!-- Display Category Number -->
<section class="event_header">
    <div class="container-fluid">
        <div class="b_crumb">
            <h3 class="addtitle" id="settitle">Dashboard</h3>
          
        </div>
    </div>
</section>
<div class="cardone">
    
  <div style="    width: 100%;
  display: flex;
  justify-content: space-between;  margin-left: -13%;">
      <!-- <div class="headerone"  >
          <p class="Heading" >Dashboard</p>
          </div>  -->
    <span>
      <mat-card class="card box" [routerLink]="['/admin/master-category']">
        <mat-card-header>
          <mat-card-title class="Name">Master Category
          </mat-card-title>
          <mat-card-subtitle class="Count">
            {{MasterCategoryCount}}
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </span>
    <span>
      <mat-card class="card box" [routerLink]="['/admin/category']">
        <mat-card-header>
          <mat-card-title class="Name">Category</mat-card-title>
          <mat-card-subtitle class="Count">{{CategoryCount}}
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </span>
    <span>
      <mat-card class="card box" [routerLink]="['/admin/sub-category']">
        <mat-card-header>
          <mat-card-title class="Name">Sub Category
          </mat-card-title>
          <mat-card-subtitle class="Count">{{SubCategoyCount}}
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>
    </span>

  </div>
</div>
<!-- dfdsd -->