// .Booking {
//   font-family      : 'PayPal Sans Small', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   color            : darkblue;
//   font-size        : 26px;
//   font-weight      : 900;
//   text-decoration  : underline;
//   //margin-left    : 5%;
//   cursor           : pointer;

// }

// .Website {
//   font-family    : 'PayPal Sans Small', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   color          : #337ab7;
//   font-size      : 26px;
//   font-weight    : 900;
//   text-decoration: underline;
//   cursor         : pointer;

// }

.logoimg {
  cursor: pointer;
}

#home-header {
  position             : fixed;
  width                : 100%;
  // background-color  : rgb(233, 233, 233);
  top                  : 0;
  left                 : 0;
  right                : 0;

  transition        : padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
  z-index           : 999;
}

#home-header>.container {
  height             : 50px;
  // background-color: rgb(233, 233, 233);
}

.hometop-btn:hover ::ng-deep .mat-button-focus-overlay {
  display: none;
}

// #home-header:not(.header-fixed) .hometop-btn ::ng-deep .mat-button-ripple {
//   top   : -1px;
//   bottom: -1px;
// }

.dropdown {
  margin-right: 5%;
}

.home-logo {
  margin-left: 70%;
}

.header-fixed {
  position     : fixed !important;
  // background: #fff;
  background   : white;
  padding      : 0 !important;
  box-shadow   : 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  animation    : .6s slideDown forwards;
}

.header-fixed .container {
  height: 60px !important;
}

.header-fixed .hometop-btn {
  line-height: 60px !important;

}

.home-logo {
  display    : flex;
  align-items: center;

  a {
    display: inherit;
  }
}

#menu-toggle {
  display : none;
  position: absolute;
  right   : 5px;
  top     : 10px;
}

.icon-button {
  .mat-icon {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  #home-header {
    padding: 0;
  }

  #home-header>.container {
    height : 60px;
    padding: 0;
  }

  .menu-opened:host .header-mobile-top {
    padding: 13px 0;

  }

  #menu-toggle {
    display: block;
  }

  .menu-opened:host .container {
    height: auto !important;
  }

  .home-logo {
    margin-left: 15px;
  }

  .top-menu {
    display: none !important;
  }

  .menu-opened:host .top-menu {
    display       : block !important;
    width         : 100% !important;
    flex          : none !important;
    //  background: #f7f1f1;
  }

  .menu-opened:host .top-menu button {
    display    : block;
    width      : 100%;
    line-height: 56px !important;
  }
}

.container {
  flex-flow          : row wrap;
  box-sizing         : border-box;
  display            : flex;
  place-content      : center flex-start;
  align-items        : center;
  // background-color: rgb(250, 246, 246);
  background         : white;
  color              : black;
  // max-height      : 100%;
  background-color   : whitesmoke;
  box-shadow         : 0px 0px 10px 0px gray;
  width              : 100%;
}

.logeedusername {
  color      : blue;
  line-height: 60px !important;

}

// .openDialog {
//   width: 500px;
// }