<header id="home-header">
  <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">

    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo" routerLink="/dashboard">
        <img src="assets/images/logo-full.png" alt="Egret logo" (click)="clicklogo" class="logoimg">
      </div>
    </div>

    <!-- <div style="margin-left: 5%" routerLink="/dashboard">
      <div class="Booking">Booking <span class="Website">Website</span></div>
    </div> -->

    <div fxFlex class="top-menu">
      <span fxFlex></span>
      <div class="dropdown">
          <!-- <button mat-button id="dashboard-topbtn" *ngIf="!isLogin" (click)="Admin()"
          class="hometop-btn btn btn-info" scrollTo="contact-section">Admin</button> -->
        <!--Login Button -->
        <button mat-button id="dashboard-topbtn" *ngIf="!isLogin" mat-button (click)="openLoginDialog()"
          class="hometop-btn btn btn-info" scrollTo="contact-section">Login</button>
        <!--Registration Button -->
        <button mat-button id="dashboard-topbtn" *ngIf="!isLogin" mat-button (click)="openRegistrationDialog()"
          class="hometop-btn btn btn-info" scrollTo="contact-section">Registration</button>
        <!--Person Icon Button -->
        <button mat-button [matMenuTriggerFor]="menu" data-toggle="dropdown" *ngIf="isLogin"
          class="hometop-btn dropdown-toggle">
          <mat-icon>person</mat-icon><strong> {{displayUserName}} </strong><span class="caret"></span>
        </button>
        <!--matMenu -->
        <mat-menu #menu="matMenu">

          <button mat-menu-item (click)="profile()">
            <mat-icon>person</mat-icon> My Profile
          </button>
          <button mat-menu-item (click)="myorders()">
            <mat-icon>list</mat-icon> My Orders
          </button>
          <!-- <button mat-menu-item (click)="orderdetails()">
            <mat-icon>list</mat-icon> order details
          </button> -->
          <button mat-menu-item (click)="password()">
            <mat-icon>edit</mat-icon>Change Password
          </button>
          <mat-divider class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal">
          </mat-divider>
          <button mat-menu-item (click)="logoutuserdata()" *ngIf="isLogin" class="logout">
            <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">
              power_settings_new</mat-icon>Log Out
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

</header>