td:hover {
  //  background-color: #edeeef;
  background-color    : #3d77ea;
  color               : white;
  cursor              : pointer;
  border-radius       : 15px;

}

.Total {
  color     : #3d77ea;
  text-align: center;
  background-color:  #edeeef;
}

td {
  // border-left        : 0.1px solid #c9ced1;
  // border-bottom      : 1px solid #c9ced1;
  border-right          : 1px solid #c9ced1;
  // border-top         : 1px solid #c9ced1;
  cursor                : pointer;
  text-align            : center;
  padding-top           : 5px;
}

.style {
  font-family: Merriweather, serif;
  font-weight: 700;
  cursor     : pointer;
  font-size  : 14px;
}

.efect {
  font-family: Merriweather, serif;
  font-weight: 500;
  cursor     : pointer;
  font-size  : 12px;
  text-align : center;
}

.home-header {
  height          : 55px;
  position        : fixed;
  width           : 100%;
  background-color: white;
  margin-top      : 50px;
  border-bottom   : 1px solid #edeeef;
  border-top      : 0.5px solid #edeeef;
  cursor          : pointer;

}



// .service {
//   margin-left   : 5%;
//   position      : fixed;
//   // font-size  : 13px;
//   text-align    : center;
//   font-family   : Merriweather, serif;
//   font-weight   : 400;
//   color         : black;
//   cursor        : pointer;

// }

// .address {
//   margin-left    : 60%;
//   position       : fixed;
//   //  font-size  : 13px;
//   text-align     : center;
//   font-family    : Merriweather, serif;
//   font-weight    : 400;
//   color          : black;
//   cursor         : pointer;
// }

// .Apartment {
//   margin-left    : 85%;
//   position       : fixed;
//   //  font-size  : 13px;
//   text-align     : center;
//   font-family    : Merriweather, serif;
//   font-weight    : 400;
//   color          : black;
//   cursor         : pointer;
// }

// .services {
//   margin-left    : 17%;
//   position       : fixed;
//   // font-size   : 13px;
//   text-align     : center;
//   font-family    : Merriweather, serif;
//   font-weight    : 400;
//   color          : black;
//   cursor         : pointer;
// }

// .date {
//   margin-left   : 32%;
//   position      : fixed;
//   // font-size  : 13px;
//   text-align    : center;
//   font-family   : Merriweather, serif;
//   font-weight   : 400;
//   color         : black;
//   cursor        : pointer;
// }

// .time {
//   margin-left   : 45%;
//   position      : fixed;
//   //font-size   : 13px;
//   text-align    : center;
//   font-family   : Merriweather, serif;
//   font-weight   : 400;
//   color         : black;
//   cursor        : pointer;
// }

// .total {
//   margin-left    : 90%;
//   //  font-size  : 13px;
//   text-align     : center;
//   font-family    : Merriweather, serif;
//   font-weight    : 400;
//   color          : blue;
//   cursor         : pointer;
// }