<header class="home-header"  fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center" >
 
     
      <td fxFlex  *ngIf="_commonService.category" (click)="category()"><span class="efect"> {{_commonService.category}}</span> <div class="style">Service</div></td>
      <td fxFlex *ngIf="_commonService.services" (click)="services()">&nbsp; <span class="efect"> {{_commonService.services}}</span> <div class="style">Selected Services </div></td>
      <td fxFlex *ngIf="_commonService.date" (click)="selecteddate()"> &nbsp; <span class="efect"> {{_commonService.date}}</span>  <div class="style">Schedule Date </div></td>
      <td fxFlex *ngIf="_commonService.time" (click)="ScheduleTime()">&nbsp; <span class="efect"> {{_commonService.time}} </span> <div class="style">ScheduleTime </div></td>
      <td fxFlex *ngIf="_commonService.address" (click)="addressget()">&nbsp; <span class="efect"> {{_commonService.address}}</span> <div class="style">Address </div></td>
      <span fxFlex  class="Total"> <sup style="font-weight:700"> $</sup>&nbsp; <ng2-odometer style="font-weight:1000;font-size: 25px;" [number]= "_commonService.price" [config]="{ }"></ng2-odometer><div class="style" style="color: black">Sub Total </div></span>
         
      
    </header>   
 

 