.Forgot {
  width     : 500px;
  height    : 100px;
  //box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
}

.user {
  color      : #3d77ea;
  font-weight: 450px;
  margin-left: 40%;
}

.closeicon {
  margin-left: 93%;
  cursor     : pointer;
  margin-top : -33%;
}