<app-header></app-header>

<div style="overflow-x: auto;     height: 110%" class="image">
    

        <!--payment-->

        <div class="payment">
            <h3 class="Receipt"> Receipt</h3>
            <div class="receipt-breakdown ">
                <ul>
                    <li>
                        {{category}}
                    </li>
                    <li>
                        <div class="cleantype" >
                            <span> {{subcategoryName}} </span>
                        </div>
                    </li>
                    <li>
                        <div class="cleantype" >
                            <span> {{typeserivce}} </span>
                        </div>
                        <div class="cleantype" >
                            <span> {{date}},{{time}} </span>
                        </div>
                    </li>
                    
                    <!-- , {{this._commonService.keyInfo}} -->
                    
                    <!-- <li>
                        <span> Apartment :- {{this._commonService.Apartment}} </span>
                    </li> -->
                    <li>
                        <!-- <address>Address :- {{Address}} </address> -->
                        <span>{{address}} </span>
                        <!-- <div>{{AdrsForReceipt}}</div> -->
                    </li>
                    <li>
                        <div><span style="font-weight: 500;">Subtotal</span><b style="margin-left: 328px;">$</b><span
                                style="margin-left: 0px;"> {{price}}</span>
                        </div>
                    </li>
                    <li>
                        <div><span class="Tax">Tax</span> <b style="margin-left: 362px;">$</b><span
                                style="margin-left: 10px;">18%</span></div>
                    </li>
                    
                    <li>
                        <div><span style="font-weight: 500;">Total</span><b style="margin-left: 352px;">$</b><span
                                style="margin-left: 0px;"> {{grandTotal}}</span>
                        </div>
                    </li>
                    <p style="text-align: center">Your receipt</p>
                    
                </ul>
            </div>
        </div>
        <!-- <div>
            <button class="Previous" mat-raised-button color="primary" (click)="Previous()">Prev</button>
        </div> -->
    
</div>