<!-- <p class="Heading">Sub Category</p> -->
<app-header></app-header>
<section class="event_header" style="background-color: rgb(46, 121, 235);margin-top: 4%;font-size: 25px;" >
    <div class="container-fluid">
      <div class="b_crumb">
        <h3 class="addtitle" style="margin-left: 5%" id="settitle">My order</h3>
  
      </div>
    </div>
  </section>
<mat-tab-group #tabGroup (selectedIndexChange)="_setDataSource($event)">
<mat-tab label="Orders">  

<!-- <div style="padding-top: 2%">
      <button mat-button class="username" style=" margin-left: 9%;;background-color: #245a57;" (click)="openDialog('Add',{},{})"
          mat-flat-button color="primary">Add Order</button>
  
  </div>

<div style="float: right;margin-right: 7%;margin-top: 2%;">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
  </div> -->
  
<div class="mat-elevation-z8 Main" style="margin-left: 7%;margin-top: 8%;margin-right: 7%;">
  <!-- <span style="-webkit-text-fill-color: white">
              <mat-form-field >
                  <input  matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
              </span> -->
  <!-- <button mat-button class="username" (click)="openDialog('Add',{},{})" style="margin-left: 40%;background-color: #245a57;" mat-flat-button color="primary">Add
      Sub Category</button> -->
      
  <div style="height:auto !important;overflow-y:hidden ;">
    <table mat-table [dataSource]="dataSource" #mytable style="width:100%;height:100%;overflow-y: hidden;">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> No. </th>
        <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Category </th>
        <td mat-cell *matCellDef="let element "> {{element.category}}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="categoryId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> C.Id </th>
          <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
      </ng-container>

      <ng-container matColumnDef="subCategoriesId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Sub.Id </th>
          <td mat-cell *matCellDef="let element"> {{element.subCategoriesId}} </td>
      </ng-container> -->

      <ng-container matColumnDef="subcategoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> SubCategory </th>
        <td mat-cell *matCellDef="let element"> {{element.subcategoryName}} </td>
      </ng-container>
      <ng-container matColumnDef="Typeserivce">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Typeserivce </th>
        <td mat-cell *matCellDef="let element"> {{element.typeserivce}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> date </th>
        <td mat-cell *matCellDef="let element"> {{element.date  }} </td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="GrandTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> GrandTotal </th>
        <td mat-cell *matCellDef="let element"> {{element.grandTotal}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef class="Design"> Action </th>
              <td mat-cell *matCellDef="let element">
                  <mat-icon style="width: 50px;color: red;cursor: pointer;" (click)="downloadPDF(element.orderId)">
                    insert_drive_file
                  </mat-icon>
                  
                  <mat-icon style="width: 50px;color: red;cursor: pointer;" (click)="displaymyorder(element.orderId)" >
                    open_in_new
                </mat-icon>
                <mat-icon style="width: 50px;color: tomato;cursor: pointer;" (click)="openDialog('Delete',element)">
                    delete
                </mat-icon>
                  <!-- <mat-icon style="width: 50px;color: red;cursor: pointer;" [routerLink]="['/orderdetails', element.orderId]" >
                    remove_red_eye
                </mat-icon> -->
              </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div id="nodisplay" style="color: white;font-size: 35px; padding: 122px;" *ngIf="dataSourceEmpty">No records found</div>

  </div>
  <!-- <mat-paginator (page)="pagechange($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator> -->

</div>
</mat-tab>

<mat-tab label="Cancel Order">  
    <!-- <div style="padding-top: 2%">
          <button mat-button class="username" style=" margin-left: 9%;;background-color: #245a57;" (click)="openDialog('Add',{},{})"
              mat-flat-button color="primary">Add Order</button>
      
      </div>
    
    <div style="float: right;margin-right: 7%;margin-top: 2%;">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
      </div> -->
    
    <div class="mat-elevation-z8 Main" style="margin-left: 7%;margin-top: 8%;margin-right: 7%;">
      <!-- <span style="-webkit-text-fill-color: white">
                  <mat-form-field >
                      <input  matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                  </span> -->
      <!-- <button mat-button class="username" (click)="openDialog('Add',{},{})" style="margin-left: 40%;background-color: #245a57;" mat-flat-button color="primary">Add
          Sub Category</button> -->
          
      <div style="height:auto !important;overflow-y:hidden ;">
        <table mat-table [dataSource]="dataSource2" #mytable2 style="width:100%;height:100%;overflow-y: hidden;">
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> No. </th>
            <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}}</td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Category </th>
            <td mat-cell *matCellDef="let element "> {{element.category}}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="categoryId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> C.Id </th>
              <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
          </ng-container>
    
          <ng-container matColumnDef="subCategoriesId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Sub.Id </th>
              <td mat-cell *matCellDef="let element"> {{element.subCategoriesId}} </td>
          </ng-container> -->
    
          <ng-container matColumnDef="subcategoryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> SubCategory </th>
            <td mat-cell *matCellDef="let element"> {{element.subcategoryName}} </td>
          </ng-container>
          <ng-container matColumnDef="Typeserivce">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Typeserivce </th>
            <td mat-cell *matCellDef="let element"> {{element.typeserivce}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> date </th>
            <td mat-cell *matCellDef="let element"> {{element.date  }} </td>
          </ng-container>
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> time </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>
          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
    
          <ng-container matColumnDef="GrandTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> GrandTotal </th>
            <td mat-cell *matCellDef="let element"> {{element.grandTotal}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Action" >
                  <th mat-header-cell *matHeaderCellDef class="Design">  </th>
                  <td mat-cell *matCellDef="let element">
                      <!-- <mat-icon style="width: 50px;color: red;cursor: pointer;" (click)="downloadPDF(element.orderId)">
                        insert_drive_file
                      </mat-icon>
                      
                      <mat-icon style="width: 50px;color: red;cursor: pointer;" (click)="displaymyorder(element.orderId)" >
                        open_in_new
                    </mat-icon> -->
                      <!-- <mat-icon style="width: 50px;color: red;cursor: pointer;" [routerLink]="['/orderdetails', element.orderId]" >
                        remove_red_eye
                    </mat-icon> -->
                  </td>
              </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
        <div id="nodisplay" style="color: white;font-size: 35px; padding: 122px;" *ngIf="dataSourceEmpty">No records found</div>
    
      </div>
      <!-- <mat-paginator (page)="pagechange($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
      </mat-paginator> -->
    
    </div>
    </mat-tab>
</mat-tab-group>