.example-container {
  display       : flex;
  flex-direction: column;
}

.example-container {
  width: 90%;
}


.loginrror {
  color      : #155724;
  padding-top: 15px;
  text-align : center;

}

.registration {
  width     : 500px;
  height    : 350px;
  margin-top: 20px;

}

.registrationtwo {
  margin-left: 5%;

}

.namediv {
  width  : 100%;
  display: inline-block;
}

.namedivone {
  width     : 50%;
  float     : left;
  margin-top: 2%;
}

.contactdivone {
  width     : 50%;
  float     : left;
  margin-top: 2%;
}

.btn {
  margin-top         : 5%;
  // background-color: lightgreen;
  width              : 180px;
}

.contactdivone {
  width: 50%;
  float: left;
}

.emaildiv {
  width: 100%;
}

.emaildivtwo {
  width: 50%;
  float: left;
}

.addressdivtwo {
  width: 50%;
  float: left;
}

.usernamediv {
  width: 100%;
}

.userdivthree {
  width: 50%;
  float: left;
}

.passworddivthree {
  width: 50%;
  float: left;
}

.regisclass {
  color           : green;
  margin-left     : 25%;
  margin-top      : 5%;
  width           : 150px;
  background-color: rgb(226, 222, 222);
  height          : 50px;
  font-size       : 24px;
}

.regisclasses {
  color           : red;
  margin-left     : 25%;
  margin-top      : 5%;
  width           : 150px;
  background-color: rgb(226, 222, 222);
  height          : 50px;
  font-size       : 24px;
}

// .emailregister {
//   font-size: 10%;
//   color    : red;
//   bottom   : -35;
// }

// *************************************-------------------this is media quary start-------------****************


@media (max-width: 800px) {
  .example-container {
    width: 92% !important;


  }
}

@media (max-width: 800px) {
  .regisclasses {
    font-size  : 18px;
    margin-top : 5%;
    margin-left: 5%;
  }
}

@media (max-width: 800px) {
  .regisclass {
    font-size  : 18px;
    margin-left: 5%;
    margin-top : 5%;
  }
}

@media (max-width: 800px) {
  .emaildiv {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .namediv {
    width: 100%;
  }
}

// @media (max-width: 800px) {
//   .registration{
//   width: 100%;

//   }
//}
.heading {
  text-align: center;
}

.global-footer-social__icon {
  height: 50px;
  width : 50px;
}