.Main {
  width         : 85%;
  margin-left   : 9%;
  text-align    : center;
  margin-top: 8%;
  // margin-top : 5%;
}
.Heading {
  color      : #245a57;
  font-weight: 500;
  margin-left: 53%;
  font-size  : 21px;
}
.Design {
  text-align : center;
  font-weight: 500;
  font-size  : 20px;
  color: aliceblue;
  background-color: #245a57;
 
}
.event_header {
  padding: 20px 15px;
  margin-top: -2%;
  margin-left: -2%;
  width:103%;
  
}
.event_header {
  padding:   2px;
  background-color: cadetblue;
}
.b_crumb {
  color: #fff;
}
.b_crumb {
  color: #fff;
}

.b_crumb h3 {
  color: #fff !important;
  margin-bottom: 15px;
  font-size: 38px !important;
  font-weight: bold;
}

.findTitle {
  // margin-left: 5.7%;
  margin-left: 1.7%;

  font-size: 42px;
  line-height: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #40678f;
  // background-color: darkorange;
}
.addtitle {
  margin-left: 5.7%;
  // margin-left: 1.7%;

  font-size: 42px;
  line-height: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #40678f;
// background-color:darkgreen;  

}

.findTitle span {
  letter-spacing: 9.5px;
  font-size: 14px;
  display: block;
  padding-top: 14px;
  font-family: "Maven Pro", sans-serif;
}
.findTitleone{
  margin-left: 5.7%;
  font-size: 42px;
  line-height: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #40678f;
// background-color: blueviolet;  
}
ul.breadcrumb {
  padding: 10px 0px 0px 0px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #fff;
  text-decoration: underline;
}