.thanks {
    font-family: Merriweather, serif;
    font-size  : 52px;
    margin-top : 20%;
    text-align : center;
    font-weight: bold;

}

.Next {
    margin-left: 43%;
    cursor     : pointer;
}

.bgimg {
    background-image : url('src/assets/img/a.jpg');
    background-repeat: no-repeat;
    background-size  : 100% 100%;
   //  height           : auto;
  //  opacity          : 0.6;
  //  left             : 0;
  //  margin           : 0;
    min-height       : 100%;
    min-width        : 674px;
 //   padding          : 0;
    position         : fixed;
  //  top              : 0;
     width            : 100%;
  //   z-index          : -1;
}