<app-header></app-header>
<div class="bgimg">
  <div class="thanks">
    Thank you For Booking Your Service......
  </div>

  <a class="Next" href="#/dashboard" >Click Here For Dashboard</a>
 
</div>
