





.toolbar-filler {
    flex: 1 1 auto
}

.Design {
    background-color: #245a57;
   // box-shadow      : 0px 0px 10px 0px gray;
}


  
.mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.name {
    margin: 0 8px 0 10px;
}

.icon {
    width     : 16px;
    height    : 16px;
    font-size : 16px;
    transform : rotate(0);
    transition: transform .25s cubic-bezier(.25, .8, .25, 1);
    
}




.username{
   // box-shadow      : 0px 0px 10px 0px gray;
    background-color: #245a57;
    margin-left: 86%;

}
.dashboard-sidebar{
    height: 100%;
  }
  .mat-drawer-container[fullscreen]{         
    left: 17%;
    right: 0;   
    position: absolute;
  }


////drawer css
.drawer {
    position: fixed;
    height: 100vh;
    min-width: 17%;
    border-right: 1px solid #ccc;
    background-color: #245a57;
  }
  .drawer .header {
    position: absolute;
    right: 0;
    justify-content: space-between;
    background-color: #245a57;
  }
  .drawer .contents {
    padding: 16px;
    margin-top: 14%;
    margin-left: -5%;
  }
  .drawer a.mat-list-item.mat-list-item-avatar.mat-list-item-with-avatar:hover {
    background-color:black !important;
}
  
  .main {
    background-color: #fff;
    cursor: pointer;
  }
  
  .main.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ccc;
  }
  
  .main.contents {
    min-height: 100vh;
    margin-top: 64px; 
    padding: 16px;
  }
  
  .main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
  }
  .dashboard-sidebar{
      background-color: aqua;
  }


// .icons {
//     display: flex;
//     height: 48px;
//     align-items: center;
//     z-index: 2;
//     transition-duration: 0.2s;
//   }
  .icon_section {
    position: relative;
    margin:  0 0 0 0 ;
    cursor: pointer;
   

  }
  .main_left_icon {
    position: absolute;
    left: 0;
    z-index: 9;
    // margin: 0 0 0 5px;
    background-color: #245a57;
    height: 100%;
    width: 55px;
    margin: 64px 3px 2px 0px;
    position: fixed;
    
}
  .left-small-panel {
    width: 54px;
    background-color: #110f1e !important;
    display: none;
  }
  .homebutton{
    margin-top: 16px;
    margin-left: 15px;
    color: white;
  }
  .homebutton:hover{
    margin-top: 16px;
    margin-left: 15px;
    color: red;
  }

  .sidehover{
   
    background-color: blue;
  }
  .sidehover:hover{
   
    background-color: chocolate;
  }
  
  // .open-menu li ul li:hover>a {
  //   color: #ec1b35;
  // }
  
  // .open-menu li ul li.active>a {
  //   color: #ec1b35;
  // }
  
  .open-menu .active a {
    color: #ec1b35;
  }
  .open-menu .mat-expansion-panel.ng-tns-c11-7.mat-expanded.mat-expansion-panel-spacing .mat-expansion-panel-header-title {
    color: #ec1b35;
  }
  
  .open-menu .mat-expansion-panel.ng-tns-c11-7.mat-expanded.mat-expansion-panel-spacing .mat-expansion-indicator::after {
    color: #ec1b35;
  }
  .icons {
    display: block;
   
   
  }
  .hover{
    display: none;
    position: fixed;
  }


  .icons:hover span{
    display: block;    
  -webkit-text-fill-color: #fff;
    margin-left: 61px;
    margin-top: -42px;
    width: 151px;
    height: 47px;
    transition-delay: 1s;
    background-color: #245a57;
  }
  .icons:hover .homebutton{
    color: #ec1b35;
  }
  .icons:hover span:hover{
    display: block;    
  -webkit-text-fill-color: #ec1b35;
    margin-left: 61px;
    margin-top: -42px;
    width: 151px;
    height: 47px;
    transition-delay: 1s;
    background-color: #245a57;
  }
  .newicons .icons:hover span{
    display: none;
    
    margin-left: 61px;
    margin-top: -42px;
    
    height: 47px;
    transition-delay: 1s;
    background-color: #245a57;
  }
 

  .font{
    color: white;
    margin-left: 16%;
    font-size: 17px;

  }
  .phome{
    color: white;
    margin-top: 13px;
    font-size: 16px;
    margin-left: 9px;
  }
  .pmaster{
    color: white;
    margin-top: 13px;
    font-size: 15px;
    margin-left: 12px;
    
  }
  .pemail{
    color: white;
    margin-top: 13px;
    font-size: 15px;
    margin-left: 10px;
    
  }
  .headerone{
    border-block-end-color: inherit;
    margin-left: -4%;
    height: 70px;
    background-color:black;
    width: 124%;
    margin-top: -2%;
  }
  .Heading {
    color      : white;
    background-color: #245a57;
    font-weight: 500;
    margin-top: 0%;
    height: 0%;
    // margin-left: 53%;
    font-size  : 21px;
  }
  .event_header {
    padding: 20px 15px;
    margin-top: -2%;
    margin-left: -2%;
    width:103%;
    
  }
  .event_header {
    padding:   2px;
    background-color: #406790;
  }
  .b_crumb {
    color: #fff;
  }
  .b_crumb {
    color: #fff;
  }
  
  .b_crumb h3 {
    color: #fff !important;
    margin-bottom: 15px;
    font-size: 38px !important;
    font-weight: bold;
  }
  
  .findTitle {
    // margin-left: 5.7%;
    margin-left: 1.7%;
  
    font-size: 42px;
    line-height: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #40678f;
    // background-color: darkorange;
  }
  .addtitle {
    margin-left: 5.7%;
    // margin-left: 1.7%;
  
    font-size: 42px;
    line-height: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #40678f;
  // background-color:darkgreen;  
  
  }
  
  .findTitle span {
    letter-spacing: 9.5px;
    font-size: 14px;
    display: block;
    padding-top: 14px;
    font-family: "Maven Pro", sans-serif;
  }
  .findTitleone{
    margin-left: 5.7%;
    font-size: 42px;
    line-height: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #40678f;
  // background-color: blueviolet;  
  }
  ul.breadcrumb {
    padding: 10px 0px 0px 0px;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family: "Maven Pro", sans-serif;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #fff;
    text-decoration: underline;
  }


  .drawer .mat-list-item-content:hover {
    background-color: blue !important;
}
  