<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>

<mat-toolbar class="main header">
  <span class="mat-button-wrapper">
    <img src="assets/img/9163.jpg" style="height: 36px; width: 108px;padding-top: 8px; padding-right: 13px;">
  </span>
  <mat-icon (click)="drawer.toggle();myNewFunction();myFunction()">
    menu
  </mat-icon>
  <div fxFlex>
    <span ></span>

    <button class="username" mat-button [matMenuTriggerFor]="menu" style="color: white" data-toggle="dropdown" *ngIf="isLogin">
      <mat-icon>person</mat-icon> {{displayUserName}}
    </button>
    <!-- matMenu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="profile()">
        <mat-icon>person</mat-icon> My Profile
      </button>
      <button mat-menu-item (click)="password()">
        <mat-icon>edit</mat-icon>Change Password
      </button>
      <!-- LogOut -->
      <mat-divider role="separator" aria-orientation="horizontal"> </mat-divider>
      <button mat-menu-item (click)="logoutuserdata()" *ngIf="isLogin" class="logout">
        <mat-icon role="img" aria-hidden="true"> power_settings_new</mat-icon>Log Out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<!-- <div fxLayout="row"> -->
<!-- <div class="left-small-panel main_left_icon" fxLayout="row" id="myClickClass"> -->
<div class="main_left_icon" id="myClickClass">
  <div class="icon_section">
    <ul style="margin-left: -46px;margin-top: -2px;">
      <li class="icons drawerhover">

        <a mat-list-item (click)="Home()">
          <mat-icon class="homebutton" mat-list-icon>home</mat-icon>
          <span class="hover icons">
            <p mat-line style="color: white;text-align: center;
            margin-top: 9%;margin-left: -9%;" (click)="Home()"> Home</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="Master()">
          <mat-icon mat-list-icon class="homebutton" style="margin-top: 29px;margin-left: 15px;">account_balance </mat-icon>
          <span class="hover icons">
            <p mat-line class="pmaster">Master Category</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="Master()" (click)="Category()">
          <mat-icon mat-list-icon class="homebutton" style="margin-top: 26px;margin-left: 15px;">assignment</mat-icon>
          <span class="hover icons">
            <p mat-line (click)="Category()" class="phome">Category</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="SubCategory()">
          <mat-icon mat-list-icon class="homebutton" style="margin-top: 31px;margin-left: 15px;">class</mat-icon>
          <span class="hover icons">
            <p mat-line (click)="SubCategory()" class="phome">Sub Category</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="user()">
          <mat-icon list-icon class="homebutton" style="margin-top: 26px;margin-left: 15px;">perm_identity </mat-icon>
          <span class="hover icons">
            <p mat-line (click)="user()" class="phome">User Detail</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="emailtemplate()">
          <mat-icon mat-list-icon class="homebutton" style="margin-top: 26px;margin-left: 15px;">email</mat-icon>
          <span class="hover icons">
            <p mat-line (click)="emailtemplate()" class="pemail">Email Template</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="tabsettings()">
          <mat-icon mat-list-icon class="homebutton" style="margin-top: 26px;margin-left: 15px;">settings_applications</mat-icon>
          <span class="hover icons">
            <p mat-line (click)="tabsettings()" class="phome">Settings</p>
          </span>
        </a>
      </li>
      <li class="icons drawerhover">
        <a mat-list-item (click)="usersorder()">
          <mat-icon mat-list-icon class="homebutton" style="margin-top: 26px;margin-left: 15px;">list</mat-icon>
          <span class="hover icons">
            <p mat-line (click)="usersorder()" class="phome">users order</p>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- </div> -->

<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">

  <mat-drawer #drawer class="drawer" mode="side">


    <mat-nav-list>


      <a mat-list-item (click)="Home()">
        <mat-icon mat-list-icon style="color: white;">home</mat-icon>
        <span mat-line style="color: white;">Home</span>
      </a>
      <a mat-list-item (click)="Home()">
        <mat-icon mat-list-icon style="color: white;">home </mat-icon>
        <span mat-line style="color: white;">Home</span>
      </a>

      <a mat-list-item (click)="Master()">
        <mat-icon mat-list-icon style="color: white;">account_balance </mat-icon>
        <span mat-line style="color: white;">Master Category</span>
      </a>

      <a mat-list-item (click)="Category()">
        <mat-icon mat-list-icon style="color: white;">assignment</mat-icon>
        <span mat-line style="color: white;">Category</span>
      </a>

      <a mat-list-item (click)="SubCategory()">
        <mat-icon mat-list-icon style="color: white;">class</mat-icon>
        <span mat-line style="color: white;">Sub Category</span>
      </a>


      <a mat-list-item (click)="user()">
        <mat-icon mat-list-icon style="color: white;">perm_identity</mat-icon>
        <span mat-line style="color: white;">User Detail</span>
        <!-- <a mat-list-item (click)="smtpsetting()">
              <mat-icon mat-list-icon>date_range </mat-icon>
              <span mat-line style="color: white;">smtp setting</span>
            </a> -->
      </a>
      <a mat-list-item (click)="emailtemplate()">
        <mat-icon mat-list-icon style="color: white;">email</mat-icon>
        <span mat-line style="color: white;">Email Template</span>
      </a>
      <a mat-list-item (click)="tabsettings()">
        <mat-icon mat-list-icon style="color: white;">settings_applications</mat-icon>
        <span mat-line style="color: white;">Settings</span>
      </a>
      <a mat-list-item (click)="usersorder()">
        <mat-icon mat-list-icon style="color: white;">list</mat-icon>
        <span mat-line style="color: white;">Users Order</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div class="main contents">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<!-- </div> -->