.closeicon {
  margin-top : -5%;
  margin-left: 94%;
  cursor     : pointer;

}

.btn-google {
  background-image: linear-gradient(to bottom, #dd4e41, #c9453a);
  color           : #fff;
  border          : 1px solid #c9453a;
  text-align      : center;
  width           : 180px;
  height          : 40px;
  margin-left     : -30px;
  margin-right    : 10px;


}

.Policy {
  font-size : 10px;
  text-align: center;
  margin-top: 10%;
}

.btn-facebook {
  color           : #fff;
  background-color: #23345a;
  text-align      : center;
  border          : 1px solid #23345a;
  width           : 180px;
  height          : 40px;



}

.fa {
  padding-right: 10px;
}

.socialmedia {

  text-align: center;

  // margin-right: 68px;
}



//  .example-container {
//      display       : flex;
//      flex-direction: column;
//    }

//   .example-container{
//      width: 80%;
//    }
//   @media (max-width: 800px) {
//     .example-container{
//       width: 90% !important;
//     }  
//  }
// .main {   
//     height          : 550px;
//     background-color: rgb(255, 254, 254);
// }


// .login1 {
//     width           : 100%;
//     background-color: antiquewhite;
//     margin-top      : 5%;
//     height          : 550px;

// }
// @media (max-width: 800px) {
//     .login1 {
//   padding-top: 0%;

//     }
// }
// .loginmiddleone {
//     width           : 35%;
//     background-color: rgb(77, 77, 121);
//     text-align      : center;
//     height          : 550px;
//     float           : left; 



// }

// @media (max-width: 800px) {
//         .loginmiddleone {
//           width  : 90% !important;
//           display: none;
//         }
//     }



// .loginmiddletwo {
//     width           : 65%;
//     background-color: rgb(233, 233, 233);
//     height          : 550px;
//     float           : left;   


// }
// .formsecond {

//     margin-left: 5%;
//     padding-top: 5%;
// }

// @media (max-width: 800px) {
//     .loginmiddletwo {
//       width: 100% !important;       
//     }
// }


// .paragraph {
//     font-size: 25PX;
//     color    : lightblue;
// }
// .paragraphone {
//     font-size: 20PX;
//     color    : lightblue;
// }
// .paragraphtwo {
//     font-size: 16PX;
//     color    : lightblue;
// }
// .paragraphthree {
//     font-size: 12PX;
//     color    : lightblue;
// }

// .loginimage {

//     padding-top: 5%;
// }
// .btn{
//     width           : 20%;
//     text-align      : center;
//     background-color: lightgreen;
//     margin-top      : 3%;
// }

// .loginngifmain {

//   width: 100%;

// }
// .loginngif { 
//     float      : left;
//     padding-top: 10%;
// }
// .loginngifsecond {

//     padding-top: 10%;
// }
// .btnlog {
//     color      : chocolate;
//     text-align : center;
//     margin-left: 10%;
//     font-size  : 20px;

// }
// .btnreg {

//     color      : chocolate;
//     text-align : center;
//     margin-left: 10%; 
//     font-size  : 20px;
// }