.closeicon {

  margin-top : -5%;
  margin-left: 94%;
  cursor     : pointer;
}


@media (max-width: 800px) {
  .app-userarea {
    width      : 90% !important;
    padding-top: 10%;
  }
}

.btn-google {
  background-image: linear-gradient(to bottom, #dd4e41, #c9453a);
  color           : #fff;
  border          : 1px solid #c9453a;
  text-align      : center;
  width           : 180px;
  height          : 40px;
  margin-left     : 0px;
  margin-right    : 10px;


}

.Policy {
  font-size : 12px;
  text-align: center;
  margin-top: 8%;
}

.btn-facebook {
  color           : #fff;
  background-color: #23345a;
  text-align      : center;
  border          : 1px solid #23345a;
  width           : 180px;
  height          : 40px;



}

.fa {
  padding-right: 10px;
}

.socialmedia {

  text-align: center;

  // margin-right: 68px;
}