
<mat-icon mat-dialog-actions  class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon>
<!--For Login PopUp Use Only-->
<mat-tab-group class="app-userarea">
    <mat-tab label="User Login"> <app-userlogin></app-userlogin> </mat-tab>
    <mat-tab label="Registration"> <app-registration></app-registration> </mat-tab>
 </mat-tab-group>
 
    <hr>
    <!--Social Media-->
    <div class="socialmedia" >
        <button type="button" class=" btn-google " >
          <span class="fa fa-google"></span>Google</button>
    
        <button type="button" class=" btn-facebook ">
          <span class="fa fa-facebook"></span>Facebook</button>
      </div>
      <h1 class="text-center  Policy">
        By creating this account, you agree to our <a href="">Privacy Policy</a> & <a href="">Cookie Policy.</a>
      </h1>
