app-svg-icon {
  svg {
    display: inline-block;
    width  : 6px;
    height : 6px;
  }
}

.home-intro-section {
  background             : url('../assets/images/home-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  padding                : 180px 0 0;
  background-color       : rgb(240, 234, 229);
  overflow               : visible;
}

.home-intro-title {
  margin     : 0 0 24px;
  font-size  : 48px;
  font-weight: 900;
  line-height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}

.home-intro-subtitle {
  margin     : 0 0 22px;
  font-size  : 22px;
  font-weight: 400;
  line-height: 32px;
}

.home-intro-text {
  max-width: 570px;
  margin   : 0 auto 24px;
}

.intro-cta1 {
  max-width : 100px;
  margin    : 0 auto;
  text-align: center;
  transform : translate(-10%, 0);
}


.home-intro-title {
  margin     : 0 0 15px;
  font-size  : 48px;
  font-weight: 900;
  line-height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);

}

.home-intro-text {
  max-width: 570px;
  margin   : 0 auto 24px;
}

.home-intro-subtitle {

  font-size  : 22px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 767px) {
  .home-intro-section {
    padding: 100px 0 0;
    color  : #f52828;
  }

  .home-intro-title {
    margin     : 0 0 24px;
    font-size  : 36px;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);

  }

  .home-intro-subtitle {
    margin     : 0 0 22px;
    font-size  : 18px;
    font-weight: 400;
    line-height: 27px;
  }

  .intro-product {
    bottom: -63px; // Adjust this for your product image

    img {
      width: 480px;

    }
  }
}

@media (max-width: 580px) {
  .intro-product {
    bottom: -39px; // Adjust this for your product image

    img {
      width: 280px;

    }
  }
}

.display {
  display   : inline-block;
  text-align: center;
  margin    : 0 0 0 20px;
  transform : translate(-5%, 0);

}

.icon {

  width    : 80px;
  height   : 30px;
  font-size: 48px;
}

.iconest {
  margin-left: 0%;
  width      : 50px;
  height     : 50;
  font-size  : 50px;
  padding    : 10%;

}

@media (max-width: 800px) {
  .logest {
    padding-top: 10%;

  }
}

.logest {
  margin-top: 10%;
  left      : 15%;
  right     : auto;
  text-align: center;
  transform : translate(+0%, 0);
  font-size : 48px;
}

.card {
  margin-top: 8%;
  left      : 20%;
  right     : auto;
  text-align: center;
  color     : #f15858;
  transform : translate(-5%, 0);

  float: left;
}

.short {
  margin-left     : 4%;
  background-color: rgb(255, 255, 255);
  height          : 58px;

  margin-top: 5%;
  width     : 150px;
}

.short1 {
  margin-top      : 5%;
  margin-left     : 2%;
  background-color: rgb(189, 219, 150);
  width           : 120px;
  height          : 58px;

}

.imgset {

  margin-left: 40%;
  position   : relative;
  top        : auto;
  left       : auto;
  // Adjust this for your product image
  background-color: rgb(240, 234, 229);
}



.mat-tab-main {

  width     : 100%;
  margin-top: 10%;
}

.mat-tab {
  margin-top      : 5%;
  width           : 90%;
  height          : 250px;
  background-color: floralwhite;
  margin-left     : 10%;
}

@media (max-width: 800px) {
  .short {
    width: 90% !important;
  }
}


.app-portal-main {
  margin-top      : 10%;
  width           : 100%;
  height          : 500px;
  background-color: lightcyan;

}