<!-- <p class="Heading">Sub Category</p> -->
<section class="event_header">
    <div class="container-fluid">
        <div class="b_crumb">
            <h3 class="addtitle" id="settitle">Sub Category</h3>
          
        </div>
    </div>
</section>
<div style="padding-top: 2%">
        <button mat-button class="username" style=" margin-left: 9%;;background-color: #245a57;" (click)="openDialog('Add',{},{})"
            mat-flat-button color="primary">Add Sub Category</button>
    
    </div>
    
    <div style="float: right;margin-right: 7%;margin-top: 2%;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
    
<div class="mat-elevation-z8 Main">
        <!-- <span style="-webkit-text-fill-color: white">
                <mat-form-field >
                    <input  matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
                </span> -->
    <!-- <button mat-button class="username" (click)="openDialog('Add',{},{})" style="margin-left: 40%;background-color: #245a57;" mat-flat-button color="primary">Add
        Sub Category</button> -->
    <div style="height:auto !important;overflow-y:hidden ;">
        <table mat-table [dataSource]="dataSource" #mytable style="width:100%;height:100%;overflow-y: hidden;">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> No. </th>
                <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Category </th>
                <td mat-cell *matCellDef="let element "> {{element.category}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="categoryId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> C.Id </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
        </ng-container>

        <ng-container matColumnDef="subCategoriesId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Sub.Id </th>
            <td mat-cell *matCellDef="let element"> {{element.subCategoriesId}} </td>
        </ng-container> -->

            <ng-container matColumnDef="subcategoryName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> SubCategory </th>
                <td mat-cell *matCellDef="let element"> {{element.subcategoryName}} </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> image </th>
                <td mat-cell *matCellDef="let element">
                    <img class="image" bind-src='element.image'>
                </td>
            </ng-container>
            <!--  mat-sort-header new add karyu -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.status"
                        (ngModelChange)="FieldsChange($event,element.subCategoriesId)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="Design"> Action </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon style="width: 50px;color: slategrey;cursor: pointer;"
                        (click)="openDialog('Update',element)">
                        edit
                    </mat-icon>
                    <mat-icon style="width: 50px;color: tomato;cursor: pointer;" (click)="openDialog('Delete',element)">
                        delete
                    </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div id="nodisplay" style="color: white;font-size: 35px; padding: 122px;" *ngIf="dataSourceEmpty">No records found</div>

    </div>
    <mat-paginator (page)="pagechange($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

</div>