<div mat-dialog-actions class="user">User Details
    <!-- <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon> -->
  </div>
  <div>
  <form   class="card" >
  
    <div >
     
        <mat-form-field style="width: 230px">
          <input matInput disabled="true" placeholder=" User Name" type="text" maxlength="20" name="userName" class="form-control"
            #userName="ngModel"  [(ngModel)]="UserDetails.userName" [ngModelOptions]="{standalone: false}"  />
          
        </mat-form-field>
     
        <mat-form-field style="width: 230px">
          <input matInput disabled="true" placeholder="Address" (onSelect)="setAddress($event)" type="text" maxlength="60" name="address" 
            #address="ngModel"   class="form-control google-place-input"   appGooglePlace [(ngModel)]="UserDetails.address"  />
          
        </mat-form-field>
   
        <mat-form-field style="width: 230px">
          <input matInput disabled="true" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text"
            name="email"  class="form-control" #email="ngModel" [(ngModel)]="UserDetails.email"  />
         
          
        </mat-form-field>
   
        <mat-form-field style="width: 230px">
          <input matInput disabled="true"  (keypress)="numberOnly($event)" mask="(000) 000 - 0000"
            name="contactNumber" placeholder="Contact Number"  class="form-control" id="contactNumber" #contactNumber="ngModel"
            [(ngModel)]="UserDetails.contactNumber"  />
          
        </mat-form-field>
    
        <mat-form-field style="width: 230px">
          <input matInput  disabled="true" (keypress)="numberOnly($event)" mask="(000) 000 - 0000"
            name="roleName"  placeholder="Role Name" class="form-control" id="roleName" #contactNumber="ngModel"
            [(ngModel)]="UserDetails.roleName"  />
          
        </mat-form-field>
     
        <mat-form-field style="width: 230px">
          <input matInput disabled="true"  (keypress)="numberOnly($event)" mask="(000) 000 - 0000"
            name="Occupation" placeholder="Occupation"  class="form-control" id="occupation" #contactNumber="ngModel"
            [(ngModel)]="UserDetails.occupation"  />
        </mat-form-field>
     
    </div>
  
  </form>
</div>