<!-- <p class="Heading">User Details</p> -->
<section class="event_header">
    <div class="container-fluid">
        <div class="b_crumb">
            <h3 class="addtitle" id="settitle">User Details</h3>
          
        </div>
    </div>
</section>
 
<div style="float: right;margin-right: 7%;margin-top: 2%;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
<div class="mat-elevation-z8 Main">

    <div style="height: auto !important;overflow-y:hidden ;">

        <table mat-table [dataSource]="dataSource" #mytable style="width:100%;height:100%">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> No. </th>
                <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef class="Design"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Contact Number">
                <th mat-header-cell *matHeaderCellDef class="Design"> Contact Number </th>
                <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
            </ng-container>

            <ng-container cdkColumnDef="View">

            </ng-container>




            <ng-container matColumnDef="Active">
                <th mat-header-cell *matHeaderCellDef class="Design"> Active </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.isActive" (ngModelChange)="FieldsChange($event,element.userId)">
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef class="Design"> View </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon style="width: 50px;color:#245a57;cursor: pointer;" #parentInput (click)="openDialog(element.userId)">
                        visibility
                    </mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

        </table>
        <div id="nodisplay" style="color: black;font-size: 35px; padding: 122px;" *ngIf="dataSourceEmpty">No records found</div>
       
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
</div>