<div class="card">
  <form (ngSubmit)="doAction(detail)" class="card" #detail="ngForm">
    <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon>
    <h1 class="user" mat-dialog-title>{{action}} </h1>
    <div mat-dialog-content>
      <mat-form-field class="Name" *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{action}} Name" class="form-control" name="categoryName" matInput #categoryName="ngModel"
          [(ngModel)]="local_data.categoryName" (blur)="onBlurMethod()" (keydown)=onKeydownEvent($event) required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Name is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf='IsError' style="font-size: 78%;margin-top: -3%;margin-left: 16%;">
        {{Message}}
      </mat-error>

      <ng-template #elseTemplate>
        <div style="margin-top:10%;margin-left:10%;color: brown">
          Are you sure to delete <b>{{local_data.categoryName}}</b>?
        </div>
      </ng-template>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" class="Save" color="primary">{{action}}</button>
      <button mat-raised-button type="button" (click)="closeDialog()" class="Close" mat-flat-button color="warn">Cancel</button>
    </div>
  </form>
</div>