<div class="overflow">
    <app-header></app-header>
    <app-header2></app-header2>
    <div class="container col-sm-12 ">
        <div class="calDivMain clearfix">
            <div class="calMonth clearfix">
                <div class="pull-left arrows">
                    <i class="fa fa-long-arrow-left" (click)="Prev()" aria-hidden="true"></i>
                </div>
                <h1>{{monthName}} {{year}} </h1>
                <div class="pull-right arrows">
                    <i class="fa fa-long-arrow-right" (click)="Next()" aria-hidden="true"></i>
                </div>
            </div>

            <div class="calDivMainInn">
                <div class="calDaysTest">

                    <div class="colCom">
                        <h2>Sun</h2>
                    </div>
                    <div class="colCom">
                        <h2>Mon</h2>
                    </div>
                    <div class="colCom">
                        <h2>Tue</h2>
                    </div>
                    <div class="colCom">
                        <h2>Wed</h2>
                    </div>
                    <div class="colCom">
                        <h2>Thu</h2>
                    </div>
                    <div class="colCom">
                        <h2>Fri</h2>
                    </div>
                    <div class="colCom">
                        <h2>Sat</h2>
                    </div>

                </div>


                <!-- Calendar Week -->
                <div class="calDays">
                    <ng-container *ngFor="let days of Week1">
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Sunday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Monday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Tuesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Wednesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Thursday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Friday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Saturday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="calDays">
                    <ng-container *ngFor="let days of Week2">
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Sunday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Monday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Tuesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Wednesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Thursday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Friday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Saturday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="calDays">
                    <ng-container *ngFor="let days of Week3">
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Sunday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Monday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Tuesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Wednesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Thursday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Friday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Saturday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="calDays">
                    <ng-container *ngFor="let days of Week4">
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Sunday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Monday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Tuesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Wednesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Thursday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Friday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Saturday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="calDays">
                    <ng-container *ngFor="let days of Week5">
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Sunday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Monday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Tuesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Wednesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Thursday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Friday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Saturday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="calDays">
                    <ng-container *ngFor="let days of Week6">
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Sunday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Monday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Tuesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Wednesday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Thursday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Friday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                        <div [class]="days.dayClass"
                            (click)="ChangeHover(days.selectedDate ,  days.day,days.Changedate)"
                            *ngIf="days.dayName ==='Saturday'">
                            <div class="colComInn">
                                <h3>
                                    {{days.day}}
                                </h3>
                                <span class="discount"><span class="hideMob">Up to</span> $16.20 off</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
    <div>
        <button [disabled]="!Isselected" class="Next1" mat-raised-button color="primary" (click)="Next1()">Next</button>
    </div>
    <div>
        <button class="Previous" mat-raised-button color="primary" (click)="Previous()">Prev</button>
    </div>

</div>