.btn {
  cursor     : pointer;
  margin-left: 43%;
  height     : 50px;
  width      : 12%;
}

.Today {
  background-color: #3d77ea;
  cursor          : pointer;
  color           : white;

}

.Unselectable {
  filter: blur(1px);
  cursor: not-allowed;
}

.selected {

  cursor: pointer;
}

.selected:hover {
  background-color: #3d77ea;
  cursor          : pointer;
}

table,
th,
td {
  border: 1px solid grey;

}
.overflow{
  overflow-x : hidden;
}
.container {
  margin-top         : 9%;
  background-repeat  : no-repeat;
  height             : 100%;
  background-size    : cover;
  background-position: center;
  

}

.table-bordered thead th {
  border-bottom-width: 1px !important;
  border             : 1px solid grey;
}


/* custom cal css start */

.calDivMain {
  width    : 100%;
  max-width: 1074px;
  margin   : auto;

}

.colCom {
  width         : 14%;
  display       : inline-block;
  vertical-align: middle;
  text-align    : center;
}

.colCom>h2 {
  margin     : 0;
  color      : #9fa4a6;
  font-size  : 14px;
  line-height: 30px;
  text-align : center;
}

.calMonth>h1 {
  font-size  : 22px;
  line-height: 30px;
  font-weight: 700;
  color      : #9fa4a6;
  text-align : center;
  font-style : italic;
}

.colComInn>h3 {
  margin     : 0;
  font-size  : 15px;
  font-weight: 400;
}

.colCom .discount {
  font-size  : 11px;
  //color    : #7a8186;
  line-height: 16px;

}


.colComInn {
  padding: 15px;

}

.colCom {
  border-left  : 1px solid #c9ced1;
  border-bottom: 1px solid #c9ced1;
  border-right : 1px solid transparent;
  cursor       : pointer;
}



.calDays .colCom:nth-child(7n) {
  border-right: 1px solid #c9ced1;

}

.calDays .colCom:last-child {
  border-right: 1px solid #c9ced1;
}

.calDaysTest .colCom {
  border-top: 1px solid #c9ced1;
}

/*.calDays {
width: 100%;
float: left;
}*/

.calDaysTest .colCom {
  border-top: 1px solid #c9ced1;
}

.calDaysTest .colCom:last-child {
  border-right: 1px solid #c9ced1;
}

.clearfix:after {
  display: block;
  clear  : both;
  content: "";
}

.calMonth {
  position: relative;
}

.arrows {
  position         : absolute;
  top              : 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform   : translateY(-50%);
  transform        : translateY(-50%);
  cursor           : pointer;
}

.arrows>i {
  font-size: 20px;
  color    : #7a8186;
}

.pull-right.arrows {
  right: 7px;
}

.colCom.disable .colComInn {
  color: #c9ced1;
}

.colCom.disable .colComInn span {
  color: #c9ced1;
}

.colCom:hover {

  background-color: #3d77ea;
  color           : #fff;

}

.arrows>i:hover {
  color: #3d77ea;
}

.colCom.disable:hover {
  background: transparent;


}

.colCom.disable:hover span {
  color: inherit;
}

.colCom:hover span {
  color: #fff;
}

.colCom.disable {
  pointer-events: none;

}

@media screen and (max-width: 1199px) {
  .calDivMain {
    width: 96%;
  }
}

@media screen and (max-width: 767px) {
  .hideMob {
    display: none;
  }

  .calDivMain {
    width: 95%;
  }

  .colComInn {
    padding: 10px;
  }

}


@media screen and (max-width:766px) {
  .colCom {
    width: 13.9%;
  }

  .colComInn {
    padding: 10px 5px;
  }

  .colCom .discount {
    font-size  : 6px;
    line-height: 10px;
  }



}

@media screen and (max-width:540px) {
  .colCom {
    width: 13.8%;
  }
}

@media screen and (max-width:480px) {
  .colCom {
    width: 13.6%;
  }
}


///button highlight//
///button highlight//
.Next1 {
  top              : 90%;
  position         : fixed;
  -webkit-transform: translateX(-50%);
  -ms-transform    : translateX(-50%);
  transform        : translateX(-50%);
  cursor           : pointer;
  margin-left      : 95%;
  height           : 34px;
  width            : 5%;
}
.Previous {
  position         : fixed;
  top              : 90%;
  -webkit-transform: translateX(-50%);
  -ms-transform    : translateX(-50%);
  transform        : translateX(-50%);
  cursor           : pointer;
  margin-left      : 5%;
  height           : 34px;
  width            : 5%;
}