.overflow {
    overflow-y: hidden;
}

.Today {
    background-color: #3d77ea;
    cursor          : pointer;
    color           : white;
    margin-left     : 2%;
}

.selected {
    cursor     : pointer;
    margin-left: 2%;
}

.selected:hover {
    background-color: #3d77ea;
    cursor          : pointer;
    color           : white;

}

.Address {
    margin-left: 10%;
    width      : 20%;
}

.Apartment {
    margin-left: 10%;
    width      : 20%;
}

.ZipCode {
    margin-left: 10%;
    width      : 20%;
}

.address1 {
    margin-top: 9.5%;
}

.textbox {
    margin-left: 19%;
    width      : 62%;
    margin-top : 3%;
}

.SPECIAL {
    margin-left: 19%;
    width      : 62%;
    margin-top : 2%;
}

.mc-checkbox-group,
.mc-radio-group {
    width                : 40%;
    margin-left          : 18%;
    position             : relative;
    display              : flex;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    flex-direction       : row;
    -webkit-box-align    : start;
    align-items          : flex-start;
    -webkit-box-pack     : start;
    justify-content      : flex-start;
}

.mc-checkbox-group .mc-checkbox.extra-input:before,
.mc-checkbox-group .mc-radio.extra-input:before,
.mc-radio-group .mc-checkbox.extra-input:before,
.mc-radio-group .mc-radio.extra-input:before {
    content          : '';
    position         : absolute;
    height           : 20px;
    width            : 20px;
    background-color : #3d77ea;
    left             : 50%;
    bottom           : 0;
    -webkit-transform: translate3D(-50%, 50%, 0) rotate(-45deg);
    -ms-transform    : translate3D(-50%, 50%, 0) rotate(-45deg);
    transform        : translate3D(-50%, 50%, 0) rotate(-45deg);
}

body {

    font-weight           : 400;
    text-rendering        : geometricPrecision;
    -webkit-font-smoothing: antialiased;
    position              : relative;
}


.mc-checkbox-group .mc-checkbox:first-child,
.mc-checkbox-group .mc-radio:first-child,
.mc-radio-group .mc-checkbox:first-child,
.mc-radio-group .mc-radio:first-child {
    border-radius: 2px 0 0 2px;
    width        : 200px;
}

.mc-checkbox-group .mc-checkbox,
.mc-checkbox-group .mc-radio,
.mc-radio-group .mc-checkbox,
.mc-radio-group .mc-radio {
    display                : flex;
    -webkit-box-orient     : vertical;
    -webkit-box-direction  : normal;
    flex-direction         : column;
    -webkit-box-align      : center;
    align-items            : center;
    -webkit-justify-content: space-around;
    justify-content        : space-around;
    font-size              : 16px;
    line-height            : 1.2;
    font-weight            : 400;
    -webkit-box-flex       : 1;
    flex                   : 1;
    border                 : 1px solid #c9ced1;
    text-align             : center;
    height                 : 60px;
    margin-right           : -1px;
    position               : relative;
}

.mc-checkbox-group .mc-checkbox:after,
.mc-checkbox-group .mc-radio:after,
.mc-radio-group .mc-checkbox:after,
.mc-radio-group .mc-radio:after {
    line-height: 1;
    content    : attr(data-discount);
    font-size  : 14px;
    color      : #9fa4a6;
    position   : absolute;
    width      : 100%;
    left       : 0;
    bottom     : -20px;
}

.booking-flow-section .content-booking-flow-section h2 {
    text-align: center;

}

.h2,
h2 {
    letter-spacing: -.5px;
    font-size     : 39px;
    font-family   : BrownStd, Helvetica, sans-serif;
    font-weight   : 700;
    color         : #16374b;
}

.booking-flow-section .content-booking-flow-section h3 {
    text-align: center;

    margin-bottom: 40px;
}

.h3.grey,
h3.grey {
    color: #9fa4a6;
}

.h3,
h3 {
    font-size  : 18px;
    line-height: 1.5;
    font-family: Merriweather, serif;
    font-weight: 400;
    color      : #9fa4a6;
}

///button highlight//
.Next {
    top              : 90%;
    position         : fixed;
    -webkit-transform: translateX(-50%);
    -ms-transform    : translateX(-50%);
    transform        : translateX(-50%);
    cursor           : pointer;
    margin-left      : 95%;
    height           : 34px;
    width            : 5%;
}

.Previous {
    position         : fixed;
    top              : 90%;
    -webkit-transform: translateX(-50%);
    -ms-transform    : translateX(-50%);
    transform        : translateX(-50%);
    cursor           : pointer;
    margin-left      : 5%;
    height           : 34px;
    width            : 5%;
}

///label css/

.label-holder {
    margin-left  : 20%;
    margin-top   : 1.5%;
    margin-bottom: 1%;
    font-size    : 18px;
    line-height  : 1.5;
    font-family  : Merriweather, serif;
    font-weight  : 400;
    color        : black;
}