<div class="overflow">
    <app-header></app-header>
  <app-header2></app-header2>

  <h2 class="address1" style="text-align: center">How frequent ?</h2>
  <h3 style="text-align: center">With our recurring cleaning, you can save money and live cleaner.</h3>

  <!--BookService-->
  <div class="mc-radio-group ">
    <ng-container *ngFor="let days of Bookservice">
      <div [class]="days.DayClass " (click)="ChangeService(days.Title )">
        <div class="mc-radio active">
          <h3 style="color: black;"> {{days.Title}}</h3>
        </div>
      </div>
    </ng-container>
  </div>
  <h2 class="address" style="text-align: center">Where are we coming ?</h2>
  <h3 style="text-align: center;margin-top: -2%;">Add on extras for a cleaning upgrade.</h3>


  <form (ngSubmit)="onSubmit(detail)" #detail="ngForm">
    <div class="example-container">

      <!--Apartment-->
      <mat-form-field class="Apartment">
        <input matInput placeholder="Apartment" (onSelect)="setAddress($event)" [(ngModel)]="UserAdd.Apartment"
          #Apartment="ngModel" type="text" class="form-control google-place-input" appGooglePlace maxlength="100"
          name="Apartment" autofocus required />
        <mat-error *ngIf="UserDetailsFormControl.hasError('required')">
          Apartment Required
        </mat-error>
      </mat-form-field>

      <!--Address-->
      <mat-form-field class="Address">
        <input matInput placeholder="Address" type="text" name="Address" #Address="ngModel" class="form-control "
          [(ngModel)]="UserAdd.Address" required />
        <mat-error *ngIf="UserDetailsFormControl.hasError('required')">
          Address is required
        </mat-error>
      </mat-form-field>

      <!--ZipCode-->
      <mat-form-field class="ZipCode">
        <input matInput placeholder="ZipCode" [(ngModel)]="UserAdd.ZipCode" (keypress)="numberOnly($event)" type="text"
          maxlength="6" #ZipCode="ngModel" name="ZipCode" class="form-control" required />
        <mat-error *ngIf="UserDetailsFormControl.hasError('required') ">
          ZIPCode Required
        </mat-error>
      </mat-form-field>

      <!-- Label For How to enter home-->
      <div class="label-holder"><label>How Do we get in?</label></div>
      <div class="mc-radio-group">
        <ng-container *ngFor="let days of Home">
          <div [class]="days.DayClass" (click)="homeService(days.homekey,days.isopen )">
            <div class="mc-radio active ">
              <h3 style="color: black"> {{days.homekey}}</h3>
            </div>
          </div>
        </ng-container>
      </div>

      <!--Key Info Label-->
      <mat-form-field class="textbox" *ngIf='textbox'>
        <input matInput placeholder="Where is It?" [(ngModel)]="UserAdd.about_Key" type="text" name="about_Key"
          class="form-control">
      </mat-form-field>

      <!--Instruction Label-->

      <mat-form-field class="SPECIAL">
        <input matInput placeholder="SPECIAL NOTES OR INSTRUCTIONS?" [(ngModel)]="UserAdd.special_Notes" type="text"
          name="special_Notes" maxlength="50" class="form-control">
      </mat-form-field>


      <!--Button-->
      <div>
        <button class="Next icon-bar" mat-raised-button color="primary" type="submit">Next</button>
      </div>
      <div>
        <button class="Previous icon-bar1" mat-raised-button color="primary" (click)="Previous()">Prev</button></div>
    </div>
  </form>
</div>