<div mat-dialog-actions class="user"><b>SMTP Setting</b>
    <!-- <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon> -->
  </div>
  <div >
  <form   class="card " >
  
    <div  >
     
        <mat-form-field style="width: 230px;margin-left: 3%;">
          <input matInput  placeholder=" Mail From" type="text"  name="MailFrom" class="form-control"
              [(ngModel)]="MailFrom" [ngModelOptions]="{standalone: true}"  />
          
        </mat-form-field>
     
        <mat-form-field style="width: 230px;margin-left: 3%;">
          <input matInput  placeholder="Smtp Server"  type="text" maxlength="60" name="SmtpServer" 
               class="form-control google-place-input"   appGooglePlace [(ngModel)]="SmtpServer"  />
          
        </mat-form-field>
   
        <mat-form-field style="width: 230px;margin-left: 3%;">
          <input matInput  placeholder="Smtp UserName"  type="text"
            name="SmtpUserName"  class="form-control"  [(ngModel)]="SmtpUserName"  />
         
          
        </mat-form-field>
   
        <mat-form-field style="width: 230px;margin-left: 3%;">
          <input matInput  
            name="SmtpPassword" placeholder="Smtp Password "  class="form-control" id="SmtpPassword" 
            [(ngModel)]="SmtpPassword"  />
          
        </mat-form-field>
    
        <mat-form-field style="width: 230px;margin-left: 3%;">
          <input matInput 
            name="SmtpPort"  placeholder="Smtp Port" class="form-control" id="SmtpPort" 
            [(ngModel)]="SmtpPort"  />
          
        </mat-form-field>
     
        <div>
            <!-- <button mat-raised-button color="warn" mat-dialog-close class="Close">Close</button> -->
            <button mat-raised-button type="submit" style="margin-left: 35%;background-color: #245a57;" (click)="updatesetting()" color="primary" class="Save">Update</button>
          </div>
     
    </div>
  
  </form>
</div>