<app-header></app-header>
  <app-header2></app-header2>
<div class="overflow">
  

  <div class="cardone" layout="column" *ngFor="let item of cardDetails;  let i = index " flex>
    <div>
      <mat-card class="card" [ngClass]="item.active ? 'card' : 'cardcolor'"
        (click)="Total(item.id,item.price,i,item.active)">
        <img class="image" bind-src='item.imageSrc'>
        <mat-card-header>
          <mat-card-title style="color: black;">{{item.subcategoryName}}</mat-card-title>
          <mat-card-subtitle style="color:black;"> $ {{item.price}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>


  <div>
    <button [disabled]="!Isselected" class="Next" mat-raised-button color="primary" (click)="Next()">Next</button>
  </div>
  <div>
    <button class="Previous" mat-raised-button color="primary" (click)="Previous()">Prev</button>
  </div>
</div>