.overflow {
  overflow-y: hidden;
}



.btn {
  cursor     : pointer;
  margin-left: 43%;
  height     : 50px;
  width      : 12%;
  margin-top : 10%;

}

.card {
  margin-top      : 3%;
  color           : #111010;
  background-color: rgb(136, 135, 135);
  float           : left;
  height          : 200PX;
  margin-left     : 2%;
  cursor          : pointer;
}

.cardcolor {
  // background-color   : rgb(136, 135, 135);
  background-color      : #eeeee4;
}

.cardone {


  margin-top: 8%;

}

.image {
  width: 200px;

}

@media (max-width: 800px) {
  .card {
    margin-top : 10%;
    width      : 100%;
    margin-left: 1%;
  }
}

@media (max-width: 800px) {
  .image {
    width: 100px;
  }
}

@media (max-width: 800px) {
  .totalsum {
    margin-top: 20%;
    height    : 25px;
  }
}

///button highlight//
.Next {
  top        : 90%;
  position   : fixed;
  cursor     : pointer;
  margin-left: 16%;
  height     : 34px;
  width      : 5%;
}

.Previous {
  position   : fixed;
  top        : 90%;
  cursor     : pointer;
  margin-left: -73%;
  height     : 34px;
  width      : 5%;
}



///Header2 Css//
#home-header {
  position          : absolute;
  width             : 100%;
  background-color  : rgb(233, 233, 233);
  top               : 0;
  left              : 0;
  right             : 0;
  padding           : 15px 0;
  transition        : padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
  z-index           : 999;
  margin-top        : 5%;
}

#home-header>.container {
  height          : auto;
  background-color: rgb(233, 233, 233);
}