.Main {
    width         : 85%;
    margin-left   : 9%;
    text-align    : center;
     margin-top : 10%;
  }
  .Heading {
    color      : #245a57;
    font-weight: 500;
    margin-left: 53%;
    font-size  : 21px;
  
  }
  .Design {
    text-align : center;
    font-weight: 500;
    font-size  : 20px;
    color: aliceblue;
    background-color: #245a57;
  }
.e-code-mirror::before {
    content: '\e345';
}
.CodeMirror-linenumber,
.CodeMirror-gutters {
    display: none;
}
.highcontrast .cm-s-default .cm-tag {color: #00ff00;}
.highcontrast .cm-s-default .cm-string {color: #ffd939;}
.highcontrast .cm-s-default .cm-attribute {color: #f00;}
.highcontrast .CodeMirror {
    background: black;
}

.sb-content.e-view.hide-header {
top: 0 !important;
}

.sb-header.e-view.hide-header {
display: none;
}

#loader {
    color: #008cff;
    font-family:  'Helvetica Neue','calibiri';
    font-size: 16px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
 .e-code-mirror::before {
    content: '\e345';
}
.CodeMirror-linenumber,
.CodeMirror-gutters {
    display: none;
}

#special_char,
.char_block {
    display: inline-block;
}
.char_block.e-active {
    /* box-shadow: inset 3px 3px 7px 0px; */
    outline: 1.5px solid;
}

.char_block {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

#custom_tbar,
#custom_tbar div{
    cursor: pointer;
}


#rteSection {
    height: 500px;
}
.e-rte-quick-popup .e-rte-quick-toolbar .e-roatate-left::before {
    content: "\e76e";
}

.e-rte-quick-popup .e-rte-quick-toolbar .e-roatate-right::before {
    content: "\e726";
}

.e-richtexteditor textarea.e-content {
  float: left;
}
.e-richtexteditor .e-rte-content {
  overflow: hidden;
}
.e-rte-content .e-content.e-pre-source{
  width: 100%;
}

.property-panel-content td{
    width: 50%;
}
.property-panel-content td div {
    padding-left: 10px;
    padding-top: 10px;
}

.e-icon-btn.e-active .e-md-preview::before {
    content: '\e350';
}

.e-icon-btn .e-md-preview.e-icons::before {
    content: '\e345';
}
.e-icon-btn.e-active .e-md-preview::before,
#mdCustom .e-icon-btn.e-active .e-md-preview.e-icons::before {
    content: '\e350';
}
#mdCustom .e-icon-btn .e-md-preview.e-icons::before {
    content: '\e345';
}

#rteDialog.e-dialog .e-dlg-content {
    padding: 0px 0px 5px 16px;
}
#custom_tbar .e-tbar-btn-text {
    font-size: 16px;
}
.e-bigger #custom_tbar .e-tbar-btn-text {
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .fabric.e-bigger #rteDialog {
        min-width: 281px;
    }

    .fabric #rteDialog {
        min-width: 241px;
    }

    .bootstrap.e-bigger #rteDialog,
    .bootstrap #rteDialog {
        min-width: 223px;
    }

    .highcontrast.e-bigger #rteDialog {
        min-width: 283px;
    }
    .highcontrast #rteDialog {
        min-width: 243px;
    }
    .material #rteDialog {
        min-width: 224px;
    }
    .material.e-bigger #rteDialog {
        min-width: 236px;
    }
}

.event_header {
    padding: 20px 15px;
    margin-top: -2%;
    margin-left: -2%;
    width:103%;
    
    
  }
  .event_header {
    padding:   2px;
    background-color: cadetblue;
  }
  .b_crumb {
    color: #fff;
  }
  .b_crumb {
    color: #fff;
  }
  
  .b_crumb h3 {
    color: #fff !important;
    margin-bottom: 15px;
    font-size: 38px !important;
    font-weight: bold;
  }
  
  .findTitle {
    // margin-left: 5.7%;
    margin-left: 1.7%;
  
    font-size: 42px;
    line-height: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #40678f;
    // background-color: darkorange;
  }
  .addtitle {
    margin-left: 5.7%;
    // margin-left: 1.7%;
  
    font-size: 42px;
    line-height: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #40678f;
  // background-color:darkgreen;  
  
  }
  
  .findTitle span {
    letter-spacing: 9.5px;
    font-size: 14px;
    display: block;
    padding-top: 14px;
    font-family: "Maven Pro", sans-serif;
  }
  .findTitleone{
    margin-left: 5.7%;
    font-size: 42px;
    line-height: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #40678f;
  // background-color: blueviolet;  
  }
  ul.breadcrumb {
    padding: 10px 0px 0px 0px;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family: "Maven Pro", sans-serif;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #fff;
    text-decoration: underline;
  }