<!doctype html>

<html lang="en">
    <section class="event_header">
        <div class="container-fluid">
            <div class="b_crumb">
                <h3 class="addtitle" id="settitle">Email Template</h3>
              
            </div>
        </div>
    </section>
     
    <div style="float: right;margin-right: 7%;margin-top: 2%;">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
<div class="mat-elevation-z8 Main">
    <div style="height: auto !important;overflow: scroll;">
        <table mat-table [dataSource]="dataSource" #mytable style="width:100%;height:100%;overflow-y: hidden;">
            <ng-container matColumnDef="No">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> No. </th>
                <td mat-cell *matCellDef="let element ; let i = index;"> {{i+1}}</td>
            </ng-container>


            <ng-container matColumnDef="Parameter">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Parameter </th>
                <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
            </ng-container>
            <ng-container matColumnDef="Templatesubject">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="Design"> Templatesubject </th>
                <td mat-cell *matCellDef="let element"> {{element.templatesubject}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="Design"> Action </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <mat-icon style="width: 50px;color:#245a57;cursor: pointer;"  (click)="edittemaplate(element.settingId)">
                        edit
                    </mat-icon> -->
                    <mat-icon style="width: 50px;color:#245a57;cursor: pointer;" (click)="openDialog('Update',element)">
                        edit
                    </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div  id="nodisplay" style="color: black;font-size: 35px; padding: 122px;" *ngIf="dataSourceEmpty">No records found</div>

    </div>


</div>
<!-- <div class="Main">

    <head>
        <meta charset="utf-8">
        <title>Window</title> -->
        <!-- <link href="../../styles/OpenNew.css" rel="stylesheet"> -->
        <!-- <link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>

    <body class="ej2-new">

        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQL39J" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <div hidden id="sync-analytics" data-queue="EJ2 - Angular - Demos"></div>
        <div style="margin-top: 7%;margin-left: 75%;  "> -->
            <!-- <button mat-raised-button color="warn" mat-dialog-close class="Close">Close</button> -->
            <!-- <button mat-raised-button type="submit" style="margin-left: 35%;background-color: #245a57;" (click)="updateemailtamplate()"
                color="primary" class="Save">Update</button>
        </div>
        <div id="action-description">
            <mat-form-field style="width: 925px;">
                <input matInput placeholder="Subject" type="text" name="MailFrom" [(ngModel)]="templatesubject" />
            </mat-form-field>
        </div>
        <div class="control-section">
            <ejs-richtexteditor [(ngModel)]="value" #toolsRTE id='alltoolRTE' [toolbarSettings]='tools' [showCharCount]='true' (actionBegin)='handleFullScreen($event)'
                (actionComplete)='actionCompleteHandler($event)' [maxLength]='maxLength'>
                <ng-template #valueTemplate>

                </ng-template>
            </ejs-richtexteditor>
        </div>

    </body>
</div> -->

</html>