<app-header></app-header>
<app-header2></app-header2>

<!--Week Slider-->
<!-- <div class="carousel "
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false }'>
  <ng-container *ngFor="let days of bookingDate ">
    <div [class]="days.dayClass" [flickityChild] (click)="ChangeHover(days.selectedDate , days.day , days.Changedate)">
      <div class="colComInn">
        <h3> {{days.Changedate}}</h3>
        <span class="discount"><span>Up to</span> $16.20 off</span>
      </div>
    </div>
  </ng-container>
</div>
 -->
<div class="carousel ">
  <drag-scroll>
    <div class="scroll_class" drag-scroll-item *ngFor="let days of bookingDate ">
      <div [class]="days.dayClass" (click)="ChangeHover(days.selectedDate , days.day , days.Changedate)">
        <div class="colComInn">
          <h3> {{days.Changedate}}</h3>
          <span class="discount"><span>Up to</span> $16.20 off</span>
        </div>
      </div>
    </div>
  </drag-scroll>
</div>

<!--Display Time-->
<div class="time-holder cal-time">

  <div *ngFor="let days of apiData">
    <tr [class]="days.dayClass">
      <td (click)="ChangeTime(days.time )"> {{days.time}}</td>
    </tr>
  </div>

</div>

<div>
  <button class="Next" mat-raised-button color="primary" (click)="Next()">Next</button>
</div>
<div>
  <button class="Previous" mat-raised-button color="primary" (click)="Previous()">Prev</button>
</div>