//time-holder csss///

tr td {
  border-bottom: 1px solid #c9ced1;
  line-height  : 57px;
  font-size    : 14px;
  width        : 1%;
}

td {
  padding-left: 3%;
}



.cal-time {
  margin-left : auto;
  margin-right: auto;
  margin-top  : 2%;
  width       : 50%;
}


// .hover:hover {
//   background-color: #3d77ea;
//   color           : white;
//   cursor          : pointer;
// }

.colCom.disable {
  pointer-events: none;
  cursor        : not-allowed;
}

// .btn {
//   cursor     : pointer;
//   margin-left: 85%;
//   height     : 50px;
//   width      : 12%;
//   margin-top : 3%;
// }

.Today {
  background-color: #3d77ea;
  cursor          : pointer;
  color           : white;
}

.disable {
  cursor    : not-allowed;
  color     : #c9ced1;
  background: transparent;
}

.selected {
  cursor: pointer;
}

.selected:hover {
  background-color: #3d77ea;
  cursor          : pointer;
  color           : white;

}

//slider csss///
/* custom cal css start */
.colCom {
  width         : 14%;
  display       : inline-block;
  vertical-align: middle;
  text-align    : center;
}

.colComInn>h3 {
  font-size  : 15px;
  font-weight: 400;
}

.colCom .discount {
  font-size  : 11px;
  line-height: 16px;
}

.colComInn:hover {
  background-color: #3d77ea;
  color           : white;
}

.colCom {
  border-left  : 1px solid #c9ced1;
  border-bottom: 1px solid #c9ced1;
  border-right : 1px solid transparent;
  border-top   : 1px solid #c9ced1;
  cursor       : pointer;
}

body {
  font-family: sans-serif;
}

.carousel {

  padding-top: 10%;
  overflow-x : hidden;
}

.carousel-cell {

  width : 100%;
  height: 100px;
}


///button highlight//
.Next {
  top              : 90%;
  position         : fixed;
  -webkit-transform: translateX(-50%);
  -ms-transform    : translateX(-50%);
  transform        : translateX(-50%);
  cursor           : pointer;
  margin-left      : 95%;
  height           : 34px;
  width            : 5%;
}

.Previous {
  position         : fixed;
  top              : 90%;
  -webkit-transform: translateX(-50%);
  -ms-transform    : translateX(-50%);
  transform        : translateX(-50%);
  cursor           : pointer;
  margin-left      : 5%;
  height           : 34px;
  width            : 5%;
}

drag-scroll {
  height: 70px;
  width : 100%;
}

// img {
//   height: 50px;
//   width : 50px;
// }

.scroll_class {
  width         : 14%;
  display       : inline-block;
  vertical-align: middle;
  text-align    : center;

}

.scroll_class .colCom {
  width: 100%;
}