<app-header></app-header>
<app-header2></app-header2>
<div style="overflow-x: hidden;" class="image">
    <form (ngSubmit)="onSubmit()" #detail="ngForm">

        <!--payment-->

        <div class="payment">
            <h3 class="Receipt"> Receipt</h3>
            <div class="receipt-breakdown ">
                <ul>
                    <li>
                        {{category}}
                    </li>
                    <li>
                        <div class="cleantype" *ngFor="let item of list;let i= index">
                            <span> {{item}}</span>
                        </div>
                    </li>
                    <!-- , {{this._commonService.keyInfo}} -->
                    <li><span class="cap"> {{_commonService.Typeserivce}} - Cleaning
                            on </span>
                        <br> <span style="color: blue;">{{WeekdayName}} ,
                            {{_commonService.time}}
                        </span></li>
                    <!-- <li>
                        <span> Apartment :- {{this._commonService.Apartment}} </span>
                    </li> -->
                    <li>
                        <!-- <address>Address :- {{Address}} </address> -->
                        <span>{{Apartment}} </span>
                        <div>{{AdrsForReceipt}}</div>
                    </li>
                    <li>
                        <div><span style="font-weight: 500;">Subtotal</span><b style="margin-left: 328px;">$</b><span
                                style="margin-left: 0px;"> {{_commonService.price}}</span>
                        </div>
                    </li>
                    <li>
                        <div><span class="Tax">Tax</span> <b style="margin-left: 362px;">$</b><span
                                style="margin-left: 10px;">18%</span></div>
                    </li>
                    <li>
                        <div><span style="font-weight: 500;">Total</span><b style="margin-left: 352px;">$</b><span
                                style="margin-left: 0px;"> {{GrandTotal}}</span>
                        </div>
                    </li>
                    <p>Add Tip</p>
                    <div class="mc-radio-group">
                        <ng-container *ngFor="let days of PriceArray">
                            <div [class]="days.DayClass" (click)="Add_Tip(days.Title)">
                                <div class="mc-radio active ">
                                    <span> {{days.Title}}</span>
                                    <span></span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <!-- <div><button mat-raised-button color="primary" class="Submit" type="submit">Next</button> </div> -->
                    <div style="width: 35%;margin-top: 2%;margin-left: 29%">
                        <ngx-paypal [config]="payPalConfig" type="submit"></ngx-paypal>
                    </div>
                </ul>
            </div>
        </div>
        <!-- <div>
            <button class="Previous" mat-raised-button color="primary" (click)="Previous()">Prev</button>
        </div> -->
    </form>
</div>