<div mat-dialog-actions class="user">My Profile
  <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon>
</div>
<form (ngSubmit)="onSubmit(detail)" class="card" #detail="ngForm">

  <!-- <div class="Message">
    {{msg}}
  </div> -->

  <!-- profile Image Code-->
  <!-- <label class="hoverable" for="fileInput">
      <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
      <div class="hover-text">Choose file</div>
      <div class="background"></div>
    </label>
    <br/>
    <input id="fileInput" type='file' (change)="onSelectFile($event)"> -->
    <!-- <button *ngIf="url" (click)="delete()" >delete</button> -->

     <!---->
  <div class="NameAddressMain">
    <div class="Name">
      <mat-form-field style="width: 230px">
        <input matInput placeholder="User Name" type="text" maxlength="20" name="userName" class="form-control"
          #userName="ngModel" [(ngModel)]="UserDetails.userName" [ngModelOptions]="{standalone: false}" required />
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Uesr Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="Address">
      <mat-form-field style="width: 230px">
        <input matInput placeholder="Address" (onSelect)="setAddress($event)" type="text" maxlength="60" name="address" 
          #address="ngModel"  class="form-control google-place-input"   appGooglePlace [(ngModel)]="UserDetails.address" required />
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Address is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="EmailOccMain">
    <div class="Email">
      <mat-form-field style="width: 230px">
        <input matInput placeholder="Email Address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text"
          name="email" class="form-control" #email="ngModel" [(ngModel)]="UserDetails.email" required />
        <mat-error *ngIf="email.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required') && !email.hasError('pattern')">
          Email is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="Contact">
      <mat-form-field style="width: 230px">
        <input matInput placeholder="Contact Number" (keypress)="numberOnly($event)" mask="(000) 000 - 0000"
          name="contactNumber" class="form-control" id="contactNumber" #contactNumber="ngModel"
          [(ngModel)]="UserDetails.contactNumber" required />
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Contact Number is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- <div class="UserID">
    <mat-form-field style="width: 230px">
      <input matInput placeholder="UserID" [ngModelOptions]="{standalone: true}" [(ngModel)]="UserDetails.userId"
        required />
      <mat-error *ngIf="emailFormControl.hasError('required')">
        UserID is required
      </mat-error>
    </mat-form-field>
  </div> -->

  <div>
    <button mat-raised-button color="warn" mat-dialog-close class="Close">Close</button>
    <button mat-raised-button type="submit" color="primary" class="Save">Save</button>
  </div>
</form>