.user {
  color      : #3d77ea;
  font-weight: 500;
  margin-left: 41%;
  font-size  : 21px;
}

.closeicon {
  margin-left: 93%;
  cursor     : pointer;
  margin-top : -28%;
}

.card {
 // box-shadow : 0 0px 15px 0 rgba(0, 0, 0, 0.2);
  font-family: arial;
  width      : 600px;
  height     : 400px;
}

.NameAddressMain {
  float      : left;
  width      : 50%;
  padding-top: 45px;
}

.EmailOccMain {
  float      : left;
  width      : 50%;
  padding-top: 45px;
}

.Name {
  margin-left: 16%;
}

.Address {
  margin-left: 16%;
}

.Email {
  margin-left: 7%;
}

.Contact {
  margin-left: 7%;
}

.Close {
  margin-top : 15%;
  width      : 120px;
  margin-left: 24%;
}

.Save {
  margin-top : 15%;
  width      : 120px;
  margin-left: 10%;
}

.UserID {
  margin-left: 8%;
}

.Message {
  color      : #155724;
  padding-top: 15px;
  text-align : center;
}

//profile image csss


img {
  height       : 100%;
  width        : 100%;
  border-radius: 50%;
}

.hoverable {
  margin-left  : 46%;
  position     : relative;
  display      : block;
  cursor       : pointer;
  height       : 65px;
  width        : 65px;
  border       : 1px solid #000;
  border-radius: 50%;
}

.hoverable .hover-text {
  position: absolute;
  display : none;

}

.hoverable .background {
  display: none;


  pointer-events: none;
  border-radius : 50%;
  z-index       : 1;
}

.hoverable:hover .hover-text {
  display: block;
}

.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}