<h2 *ngFor="let array of holidayArray">
  <hr>
  Start Date : {{ array.start }}
  <br />
  End Date : {{ array.end }}
  <br>
  List of Dates :
  <h5 *ngFor="let subarray of array.list_of_dates">
      {{subarray}}
  </h5>
</h2>
