<div class="card">
  <form (ngSubmit)="doAction(detail)" class="card" #detail="ngForm">
    <mat-icon class="closeicon" (click)="close()" mat-raised-button color="warn">close</mat-icon>
    <h1 class="user" mat-dialog-title>Deleting User Order </h1>
    <div mat-dialog-content>
      <ng-template #elseTemplate>
        <div style="margin-top:10%;margin-left:10%;color: brown">
          Are you sure to delete <b>this orders</b>?
        </div>
      </ng-template>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button type="submit" class="Save" color="primary">Delete</button>
      <button mat-raised-button type="button" (click)="closeDialog()" class="Close" mat-flat-button color="warn">Cancel</button>
    </div>
  </form>
</div>