.Change {
  margin-left: 34%;
  color      : #3d77ea;
  font-weight: 500;
}

.closeicon {
  margin-left: 38%;
  margin-top : -16%;
  cursor     : pointer;

}


.main {
  margin-top: 2%;
  height    : 300px;
  width     : 400px;
//  box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
}

.Close {
  width      : 128px;
  margin-top : 15%;
  margin-left: 13%;
}

.Save {
  width      : 128px;
  margin-top : 15%;
  margin-left: 10%;
}

.Message {
  color      : #155724;
  padding-top: 15px;
  text-align : center;
  font-weight: 500;

}