<div mat-dialog-actions class="Change">Change Password
	<mat-icon class="closeicon" mat-raised-button color="warn" (click)="close()">close</mat-icon>
</div>
<form [formGroup]="myForm" class="main" (ngSubmit)="onSubmit(detail)" #detail="ngForm">

	<div>
		<div style="margin-left: 9%">
			<mat-form-field style="width: 230px;margin-top: 8%;">
				<input matInput placeholder="New password" [type]="show_button ? 'text' : 'password'"
					[(ngModel)]="Password.NewPassword" minlength="6" name="password" maxlength="12"
					formControlName="password" required />
				<i style="margin-left: -16px;cursor: pointer;" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
					(click)="showNewPass()"></i>
				<mat-error *ngIf="myForm.hasError('required')">
					Please Enter Your New Password
				</mat-error>
			</mat-form-field>
		</div>

		<div style="margin-left: 9%">
			<mat-form-field style="width: 230px">
				<input matInput placeholder="Confirm password" [type]="Show_Con_Btn ? 'text' : 'password'" minlength="6"
					maxlength="12" formControlName="confirmPassword" [errorStateMatcher]="matcher" required />
				<i style="margin-left: -16px;cursor: pointer;" [class]="Show_Con_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
					(click)="ShowConPass()"></i>
				<mat-error *ngIf="myForm.hasError('notSame')">
					Passwords Do Not Match
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div>
		<button mat-raised-button color="warn" mat-dialog-close class="Close">Close</button>
		<button mat-raised-button type="submit" color="primary" class="Save">Save</button>
	</div>
</form>