.example-container {
  display       : flex;
  flex-direction: column;
}

.example-container {
  margin-top: 20px;
  width     : 70%;
}

@media (max-width: 800px) {
  .loginmiddleone {
    width  : 90% !important;
    display: none;
  }
}

.forgot {
  cursor: pointer;
}

.loginrror {
  color           : #721c24;
  background-color: #f8d7da;
  border-color    : #f5c6cb;
  height          : 30px;
  width           : 100%;
  padding-top     : 15px;
  text-align      : center;
  border-radius   : .25rem;

}

.loginus {
  color           : #155724;
  background-color: #d4edda;
  border-color    : #c3e6cb;
  height          : 30px;
  width           : 100%;
  padding-top     : 15px;
  text-align      : center;
  border-radius   : .25rem;
}



.trb-wild {
  background-color: #f4a460;
}

.invalid-login {
  background-color: red;

  .pointer {
    cursor: pointer;
  }

  .log {
    padding-top: 20px;
  }

}

.userloginmain {
  width : 500px;
  height: 350px;


}

.userlogin {
  margin-left: 5%;
  width      : 95%;
  padding-top: 3%;
  margin-top : 20px;
}

.loginmsg {
  color           : green;
  margin-left     : 5%;
  background-color: rgb(226, 222, 222);
  height          : 50px;
  font-size       : 24px;

}

.loginmessage {
  color           : red;
  height          : 50px;
  background-color: rgb(226, 222, 222);
  font-size       : 24px;
  margin-left     : 5%;
}

.btn {
  width           : 180px;
 // background-color: lightgreen;
  margin-top      : 8%;

}

@media (max-width: 800px) {
  .btn {
    width: 120px;
  }
}

@media (max-width: 800px) {
  .loginmessage {
    font-size: 18px;
  }
}


.heading {
  text-align: center;
}

.btnlog {
  color      : chocolate;
  text-align : center;
  margin-left: 10%;
  font-size  : 20px;

}

.btnreg {

  color      : chocolate;
  text-align : center;
  margin-left: 10%;
  font-size  : 20px;
}