<div class="userloginmain" id="my-div">
  <form (ngSubmit)="onSubmit(loginForm)" class="userlogin" #loginForm="ngForm">
    <!-- <div *ngIf="isError" class="loginrror">
      {{loginmsg}}
      <span style="margin-left:143px;cursor: pointer" (click)="toggleShow()">&times;</span>
    </div>
    <div *ngIf="isNotError" class="loginus">
      {{loginmsg}}
      <span style="margin-left:190px ;cursor: pointer" class="close-icon" (click)="toggleShow()">&times;</span>
    </div> -->
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Email Address" type="text" name="email" class="form-control"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" [(ngModel)]="model.email" required />
        <mat-error *ngIf="email.hasError('pattern')">
          Please enter a valid email address
        </mat-error>

        <mat-error *ngIf="emailFormControl.hasError('required') && !email.hasError('pattern')">
          Email is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [type]="show_button ? 'text' : 'password'"
          name="password" #password="ngModel" [(ngModel)]="model.password" required />
        <i style="margin-left: -16px;cursor: pointer;" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
          (click)="showPassword()"></i>
        <mat-error>
          Passsword is required
        </mat-error>
      </mat-form-field>

    </div>
    <div>

      <button mat-raised-button type="submit" color="primary" class="btn ">Login </button>
      <!-- (click)="forgot()" -->
      <a type="button" style="margin-left:10% ;font-size: 13px;color:brown" (click)="forgot()" class="forgot">Forgot
        Password ?</a>
    </div>

  </form>
</div>